<label class="textfield is-required" [ngClass]="textfieldClass">
  <lu-select [(ngModel)]="model"
             (ngModelChange)="update($event)"
             #clientCtrl="ngModel"
             class="textfield-input"
             [placeholder]="placeholder"
             (onOpen)="setClientsDisplayed()"
             [disabled]="disabled"
             [multiple]="multiple"
             [required]="required">

    <ng-container *luDisplayer="let value; multiple: multiple">
      <ng-container *ngIf="multiple; else notMultiple">
        <span *ngIf="value?.length !== 1; else: singleSelection">
        <span class="label">{{ value.length }}</span>
          {{ 'front_select_clients_selection' | translate: { count: value.length } }}
        </span>
        <ng-template #singleSelection>{{value[0].name }}</ng-template>
      </ng-container>

      <ng-template #notMultiple>{{ value.name }}</ng-template>
    </ng-container>

    <lu-option-picker-advanced>
      <header class="lu-picker-header">
        <lu-api-paged-searcher [api]="apiUrl" [filters]="filtersToExcludeSelection"></lu-api-paged-searcher>
      </header>

      <lu-option-pager *ngIf="multiple"></lu-option-pager>
      <ng-container *ngIf="multiple">
        <lu-option *ngFor="let clientSelected of clientsSelected" [value]="clientSelected" selected>
          {{ clientSelected.name }}
        </lu-option>
      </ng-container>

      <lu-option *luForOptions="let client; trackBy: trackBy" [value]="client">
        {{client.name}}
      </lu-option>

    </lu-option-picker-advanced>
    <lu-input-clearer></lu-input-clearer>
  </lu-select>
  <span class="textfield-label" *ngIf="isFormDisplayMode">{{ label }}</span>
  <span class="textfield-messages" *ngIf="clientCtrl.touched && clientCtrl.hasError('required')">
    <span class="textfield-messages-error">
      {{ "front_select_clients_errorMessage_required" | translate }}
    </span>
  </span>
</label>
