<lu-select [formControl]="formControl" [placeholder]="placeholder" class="textfield-input"
           [required]="required" [multiple]="multiple" (blur)="onTouch()">

  <span  [ngClass]="{ 'chip mod-unkillable': multiple }" *luDisplayer="let billingMode">{{ billingMode.name }}</span>

  <lu-option-picker-advanced>
    <lu-option-feeder [options]="billingModes"></lu-option-feeder>
    <lu-option *luForOptions="let billingMode; trackBy: trackBy" [value]="billingMode">{{ billingMode.name }}</lu-option>
  </lu-option-picker-advanced>

  <lu-input-clearer [class.u-displayNone]="hideClearer" [attr.aria-hidden]="hideClearer"></lu-input-clearer>

</lu-select>
