<label class="textfield palette-grey">
  <lu-select [(ngModel)]="environmentIds"
             (ngModelChange)="safeOnChange($event)"
             class="textfield-input"
             [placeholder]="'front_filterLabel_subdomain' | translate"
             multiple>
    <ng-container *luDisplayer="let subDomains; multiple: true">
      <span class="label">{{ subDomains.length }}</span>
      {{ 'front_filterSelection_subdomain' | translate: { count: subDomains.length } }}
    </ng-container>
    <lu-option-picker-advanced>
      <header class="lu-picker-header">
        <lu-api-paged-searcher [api]="apiUrl" [fields]="apiFields" [orderBy]="apiOrderBy"></lu-api-paged-searcher>
      </header>
      <lu-option-pager></lu-option-pager>
      <lu-option *luForOptions="let environment; trackBy: trackBy" [value]="environment.id">
        {{environment.subDomain}}
      </lu-option>
    </lu-option-picker-advanced>
    <lu-input-clearer></lu-input-clearer>
  </lu-select>
</label>

