<input class="textfield-input"
       [type]="type"
       [required]="required"
       [readOnly]="readonly"
       [formControl]="password"
       [placeholder]="placeholder"
       [ngClass]="{ 'is-readonly': readonly }" />

<span class="textfield-label">{{ 'demos_card_password' | translate }}</span>

<span class="textfield-suffix" (click)="toggle()">
  <a (click)="$event.preventDefault" role="button" [attr.aria-pressed]="showPassword" class="textfield-suffix-action">
    <span aria-hidden="true" class="lucca-icon icon-watch"></span>
    <span aria-hidden="true" class="lucca-icon icon-unwatch"></span>
    <span class="u-mask">Show password</span>
  </a>
</span>


