<div class="page-content">
  <cc-offer-edition-form [formControl]="formControl" [offerToEdit]="offerToEdit$ | async">
  </cc-offer-edition-form>
</div>

<div class="page-footer">
  <div class="page-footer-right u-flexGrow1">
    <button class="button"
            [ngClass]="editionButtonState$ | async"
            [disabled]="!formControl.dirty || formControl.invalid"
            (click)="edit()">
      {{ 'offers_forms_edit' | translate }}
    </button>
    <button class="button mod-link" (click)="cancel()">
      {{ 'offers_forms_cancel' | translate }}
    </button>
  </div>
</div>
