<lu-select [(ngModel)]="model"
           (ngModelChange)="update($event)"
           class="textfield-input"
           [placeholder]="placeholder"
           (onOpen)="setProductsDisplayed()"
           [disabled]="disabled"
           [multiple]="multiple"
           [required]="required">

  <ng-container *luDisplayer="let value; multiple: multiple">
    <ng-container *ngIf="multiple; else notMultiple">
      <span *ngIf="value?.length !== 1; else: singleSelection">
      <span class="label">{{ value.length }}</span>
        {{ 'front_select_products_selection' | translate: { count: value.length } }}
      </span>
      <ng-template #singleSelection>{{value[0].name }}</ng-template>
    </ng-container>

    <ng-template #notMultiple>{{ value.name }}</ng-template>
  </ng-container>

  <lu-option-picker-advanced>
    <header class="lu-picker-header">
      <lu-api-paged-searcher [api]="apiUrl" [filters]="filtersToExcludeSelection"></lu-api-paged-searcher>
    </header>

    <lu-option-pager *ngIf="multiple"></lu-option-pager>
    <ng-container *ngIf="multiple">
      <lu-option *ngFor="let productSelected of productsSelected" [value]="productSelected" selected>
        {{ productSelected.name }}
      </lu-option>
    </ng-container>

    <lu-option *luForOptions="let product; trackBy: trackBy" [value]="product">
      {{product.name}}
    </lu-option>

  </lu-option-picker-advanced>
  <lu-input-clearer *ngIf="!hideClearer"></lu-input-clearer>
</lu-select>
