<cc-cafe-page-template>

  <ng-container page-header-right>
    <button class="button primary u-marginBottomStandard" type="button"
            [class]="exportButtonClass$ | async" [disabled]="submitDisabled" (click)="export()">
      {{ 'cafe_export_button' | translate }}
    </button>
  </ng-container>

  <ng-container page-subheader>
    <cc-cafe-page-filter-template [advancedFilterConfig]="advancedFilterConfig" [formControl]="filters"
                                  [submitDisabled]="submitDisabled" (submit)="submit()">

      <ng-container footer-right-actions>
        <label class="textfield palette-grey mod-outlined mod-inline">
          <cc-establishment-facets-and-columns-api-select [formControl]="facetsAndColumns"
                                                          [placeholder]="'select_facets_and_columns_placeholder' | translate">
          </cc-establishment-facets-and-columns-api-select>
        </label>
      </ng-container>

    </cc-cafe-page-filter-template>
  </ng-container>

  <ng-container page-content>
    <div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

    <ng-template #isNotLoading>

      <h4 class="page-content page-resultsCount u-displayFlex u-alignItemsCenter u-justifyContentSpaceBetween">
        {{ 'cafe_establishments_count' | translate : { count: totalCount$ | async } }}
      </h4>

      <cc-establishment-list ccInfiniteScroll
                             (bottomReached)="nextPage()"
                             [establishments]="establishments$ | async"
                             [selectedColumns]="selectedColumns$ | async"
                             [facets]="facetColumns$ | async">
      </cc-establishment-list>

    </ng-template>
  </ng-container>
</cc-cafe-page-template>
