@import "theming.import";

:host {
  overflow: auto;
}

.table.mod-stickyMultipleHeader .table-head {
  position: sticky;
  z-index: 30;
  top: 0;
  background-color: white;
}

.mod-hidden {
  display: none;
}

.table .table-body-row.mod-stickyFooter {
  z-index: 30;
  position: sticky;
  bottom: 0;
  border-top: 1px solid _theme("commons.divider.color");
  margin-top: -1px;
}

.mod-stickyLeft {
  position: sticky;
  left: 0;
}

.mod-fullWith {
  min-width: 100%;
  max-width: 100%;
}
