<div class="callout palette-grey" *ngIf="!showConfirmation; else displayConfirmation">
  <div class="u-displayFlex">
    {{ getContractClosedInformation() }}
    <button class="button mod-outline palette-grey u-marginLeftSmallest" (click)="setShowConfirmation(true)">
      {{ 'front_contractPage_cancelContractClosedButton_label' | translate }}
    </button>
  </div>
</div>

<ng-template #displayConfirmation>
  <div class="callout palette-warning u-animatedSlideInTop">
    <div class="u-displayFlex u-flexDirectionColumn">
      {{ getClosureCancellationConfirmation() }}
      <div class="u-marginLeftAuto">
        <button class="button mod-link" (click)="setShowConfirmation(false)">
          {{ 'front_contractPage_cancelContractClosure_confirmation_cancelButton' | translate }}
        </button>
        <button class="button palette-secondary" (click)="cancelContractClosure()"
                [ngClass]="closeCancelButtonState">
          {{ 'front_contractPage_cancelContractClosure_confirmation_confirmButton' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
