@import "theming.import";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textfield.mod-compact {
  margin: 0;
  padding: _theme('spacings.smaller') _theme('spacings.standard') _theme('spacings.smaller') _theme('spacings.standard');
}


.textfield.mod-compact .textfield-label {
  color: _color('grey', 800)!important;
}

.actionIcon.mod-small {
  .lucca-icon { font-size: 1rem; }
}
