<ng-container *ngIf="demo$ | async; let demo">
  <label class="textfield mod-compact mod-password mod-withCopy palette-grey mod-outlined u-paddingRightSmaller">
    <cc-password-input [formControl]="password" [readonly]="passwordReadonly" [required]="true"></cc-password-input>
  </label>

  <button *ngIf="passwordReadonly; else isEditable" type="button" class="actionIcon"
          [luTooltip]="'demos_card_edit_password' | translate"
          (click)="togglePasswordReadonly()">
    <span aria-hidden="true" class="lucca-icon icon-edit"></span>
    <span class="u-mask">{{ 'demos_card_edit_password' | translate }}</span>
  </button>

  <ng-template #isEditable>
    <button type="button" class="actionIcon" [disabled]="password.invalid"
            [luTooltip]="'demos_card_valid_password_edition' | translate"
            (click)="editPassword(demo)" [ngClass]="editPasswordButtonClass$ | async">
      <span aria-hidden="true" class="lucca-icon icon-tick"></span>
      <span class="u-mask">{{ 'demos_card_valid_password_edition' | translate }}</span>
    </button>

    <button type="button" class="actionIcon" [luTooltip]="'demos_card_cancel_password_edition' | translate"
            (click)="cancelPasswordEdition(demo)">
      <span aria-hidden="true" class="lucca-icon icon-cross"></span>
      <span class="u-mask">{{ 'demos_card_cancel_password_edition' | translate }}</span>
    </button>
  </ng-template>


  <button type="button" class="actionIcon" [luTooltip]="passwordTooltip$ | async" (click)="copyPassword()">
    <span aria-hidden="true" class="lucca-icon icon-copy"></span>
    <span class="u-mask">{{ passwordTooltip$ | async }}</span>
  </button>
</ng-container>
