@import "../../../../../scss/theming.import";

.u-pointer { cursor: pointer; }
.u-widthFitContent { width: fit-content; }

.link.mod-text {
  color: _color('grey', 800);
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.card {
  max-width: 1000px;
}

.card-content {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.card-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px 0 0 8px;
  background-color: _color('grey', 200);
  padding: 0;

  .card-content-left-top {
    padding: _theme('spacings.smaller') _theme('spacings.standard') _theme('spacings.smaller') _theme('spacings.standard');
  }

  .card-content-left-bottom {
    display: flex;
    align-items: center;
    background-color: _color('grey', 100);
    border-radius: 0 0 0 8px;
  }
}

.card-content-right {
  display: flex;
}

.card-content-actions {
  display: flex;
  flex-direction: column;
  background-color: _color('grey', 50);
  margin-left: auto;
  border-radius: 0 8px 8px 0;
}
