<fieldset class="radiosfield is-required">
  <legend class="radiosfield-label">
    {{ "front_select_billingFrequency_label" | translate }}
  </legend>

  <div class="radiosfield-input">
    <div>
      <label class="radio {{ textfieldClass }}">
        <input [(ngModel)]="frequency"
               (ngModelChange)="update()"
               (focusout)="onTouch()"
               #frequencyCtrl="ngModel"
               [required]="required"
               class="radio-input"
               type="radio"
               name="billing-frequency"
               [disabled]="isFrequencyDisabled"
               [value]="billingFrequency.Quarterly">
        <span class="radio-label">
          {{ "front_select_billingFrequency_quarterly_label" | translate }}
        </span>
      </label>
    </div>

    <div class="u-displayFlex u-alignItemsBaseline">
      <label class="radio {{ textfieldClass }}">
        <input [(ngModel)]="frequency"
               (ngModelChange)="update()"
               (click)="onTouch()"
               #frequencyCtrl="ngModel"
               [required]="required"
               class="radio-input"
               type="radio"
               name="billing-frequency"
               [disabled]="isFrequencyDisabled"
               [value]="billingFrequency.Yearly">
        <span class="radio-label">
          {{ "front_select_billingFrequency_yearly_label" | translate }}
        </span>
      </label>
      <cc-billing-month-select textfieldClass="u-marginLeftStandard {{ textfieldClass }}"
                               [(ngModel)]="monthSelected"
                               (ngModelChange)="update()"
                               [required]="true"
                               [disabled]="!isYearlyFrequencySelected || isMonthDisabled">
      </cc-billing-month-select>
    </div>
    <span class="textfield-messages" *ngIf="frequencyCtrl.touched && frequencyCtrl.hasError('required')">
      <span class="textfield-messages-error">
        {{ "front_select_billingFrequency_errorMessage_required" | translate }}
      </span>
    </span>
  </div>
</fieldset>

