<div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

<ng-template #isNotLoading>
  <ng-container *ngIf="(isContractClosed$ | async); else isContractOpened">
    <div class="page-content">
      <cc-closure-cancellation [contractClosureDetailed]="contractClosureDetailed$ | async"
                               [closeCancelButtonState]="cancelButtonState$ | async"
                               (cancelClosure)="cancelClosure()">
      </cc-closure-cancellation>
    </div>
  </ng-container>

  <ng-template #isContractOpened>
    <ng-container *ngIf="!canReadValidationContext; else canReadContext">
      <div class="callout mod-icon palette-warning u-marginStandard">
        <div class="callout-icon"><span aria-hidden="true" class="lucca-icon icon-warning"></span></div>
        <div>{{ 'contracts_closeTab_cannot_read_validation_context' | translate }}</div>
      </div>
    </ng-container>

    <ng-template #canReadContext>
      <cc-contract-closure-form [contractClosureDetailed]="contractClosureDetailed$ | async"
                                [formValidationContext]="closureFormValidationContext$ | async"
                                [minContractClosedDate]="minContractClosedDate$ | async"
                                [closeButtonState]="closeButtonState$ | async"
                                (closeContract)="closeContract($event)">
      </cc-contract-closure-form>
    </ng-template>

  </ng-template>

</ng-template>
