<cc-counts-page-template>
  <ng-container page-content>

    <div class="header blockWithFixedSizeInFlex">
      <label class="textfield palette-grey mod-outlined">
        <lu-date-select class="textfield-input" [hideClearer]="true" [granularity]="granularity.month"
                        [placeholder]="'counts_launcher_period' | translate" [formControl]="countPeriod">
        </lu-date-select>
      </label>

      <div class="button-group u-marginLeftAuto">
        <button class="button mod-icon is-disabled" [ngClass]="cleanForecastButtonClass$ | async"
                *ngIf="hasRunningCounts$ | async; else hasNoRunningCounts">
          {{ 'counts_launcher_process_in_progress' | translate }}
          <span aria-hidden="true" class="button-icon loading"></span>
        </button>
        <ng-template #hasNoRunningCounts>
          <button class="button" [ngClass]="cleanForecastButtonClass$ | async" (click)="openCountsLauncher()">
            {{ 'counts_launcher_button' | translate }}
          </button>
        </ng-template>

        <button class="button mod-more" [luDropdown]="dropdown"></button>
      </div>

      <lu-dropdown #dropdown>
        <li class="lu-dropdown-options-item" (click)="cleanForecast()">
          <div class="lu-dropdown-options-item-action" luDropdownItem>
            {{ 'counts_launcher_clean_forecast_button' | translate }}
          </div>
        </li>
      </lu-dropdown>
    </div>

    <div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

    <ng-template #isNotLoading>
      <cc-counts-dashboard-card-list class="grid u-marginReset u-flexGrow1"
                                     [dashboard]="dashboard$ | async">
      </cc-counts-dashboard-card-list>
    </ng-template>

  </ng-container>
</cc-counts-page-template>
