<label class="textfield palette-grey">
  <lu-select [(ngModel)]="users"
             (ngModelChange)="safeOnChange($event)"
             class="textfield-input"
             [placeholder]="'front_filterLabel_collaborators' | translate"
             multiple>
    <ng-container *luDisplayer="let users; multiple: true">
      <span class="label">{{users.length}}</span>
      {{ 'front_filterSelection_collaborator' | translate: { count: users.length } }}
    </ng-container>
    <lu-option-picker-advanced>
      <header class="lu-picker-header">
        <lu-api-paged-searcher api="api/v3/principals"></lu-api-paged-searcher>
      </header>
      <lu-option-pager></lu-option-pager>
      <lu-option *luForOptions="let user; trackBy: trackBy" [value]="user">{{user.name}}</lu-option>
    </lu-option-picker-advanced>
    <lu-input-clearer></lu-input-clearer>
  </lu-select>
</label>
