@import "theming.import";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mod-hidden {
  display: none;
}

.mod-resetLink {
  color: _color('grey', '700');
  margin-right: _theme('spacings.small');

  &:hover { color: _color('grey', '900'); }
}
