<lu-select [formControl]="formControl" class="textfield-input" [required]="required" (blur)="onTouch()">

  <span *luDisplayer="let billingUnit">{{ billingUnit.name }}</span>

  <lu-option-picker-advanced>
    <lu-option-feeder [options]="billingUnits"></lu-option-feeder>
    <lu-option *luForOptions="let billingUnit; trackBy: trackBy" [value]="billingUnit">{{ billingUnit.name }}</lu-option>
  </lu-option-picker-advanced>

  <lu-input-clearer *ngIf="!hideClearer"></lu-input-clearer>

</lu-select>
