<form [formGroup]="formGroup" class="u-displayFlex u-flexDirectionColumn u-flexShrink0 u-flexGrow1">
  <button type="button" class="actionIcon mod-clearer"
          [luTooltip]="'cafe_filters_delete_all_button_label' | translate"
          (click)="reset()">
    <span aria-hidden="true" class="lucca-icon icon-cross"></span>
    <span class="u-mask">{{ 'cafe_filters_delete_one_button_label' | translate }}</span>
  </button>

  <div [formArrayName]="formArrayKey">

    <div *ngFor="let formControl of formArray.controls; let i = index; trackBy: trackBy"
         class="u-displayFlex u-flexWrapWrap u-alignItemsCenter u-flexGrow0 u-flexShrink1 u-marginTopSmallest">

      <ng-container [ngSwitch]="i">
        <div *ngSwitchCase="0" class="textfield mod-inline mod-shorter"></div>
        <div *ngSwitchCase="1">
          <cc-logical-operator-select textfieldClass="palette-grey mod-outlined mod-inline mod-shorter"
                                      [formControl]="logicalOperator"
                                      [required]="true">
          </cc-logical-operator-select>
        </div>
        <div *ngSwitchDefault class="textfield mod-inline mod-shorter u-paddingLeftSmaller">
          {{ logicalOperator.value?.name | translate }}
        </div>
      </ng-container>

      <cc-comparison-filter-criterion-form [formControl]="formControl"
                                           [configurations]="configuration.criterions"
                                           [required]="true">
      </cc-comparison-filter-criterion-form>

      <div class="u-marginLeftAuto">
        <button type="button" class="actionIcon"
                [luTooltip]="'cafe_filters_add_one_button_label' | translate"
                (click)="insertAt(i)">
          <span aria-hidden="true" class="lucca-icon icon-plus"></span>
          <span class="u-mask">{{ 'cafe_filters_add_one_button_label' | translate }}</span>
        </button>
        <button type="button" class="actionIcon"
                [disabled]="i === 0"
                [luTooltip]="'cafe_filters_delete_one_button_label' | translate"
                (click)="removeAt(i)">
          <span aria-hidden="true" class="lucca-icon icon-cross"></span>
          <span class="u-mask">{{ 'cafe_filters_delete_one_button_label' | translate }}</span>
        </button>
      </div>
    </div>

  </div>
</form>

<div class="u-displayFlex u-right u-marginTopStandard">
  <button class="button palette-grey" (click)="submitAdvancedFilter()" [disabled]="invalid">
    {{ 'cafe_filters_submit_button_label' | translate }}
  </button>

  <button class="button mod-link" (click)="cancelForm()">
    {{ 'cafe_filters_cancel_button_label' | translate }}
  </button>
</div>
