@import "../../../../../../scss/theming.import";

:host {
  display: block;
  position: relative;
  border: solid .15rem _color("grey", 100);
  border-radius: _theme("commons.border.radius");
  padding: _theme("spacings.smallest") _theme("spacings.smallest");
}

form {
  padding: _theme("spacings.smallest") _theme("spacings.smallest");
}

.mod-clearer {
  position: absolute;
}
