.textfield.mod-outlined {
  & .lu-select-placeholder {
    color: _color('grey', 600)
  }
}

.radioButtons.palette-grey.mod-outlined .radioButtons-item-label {
  background-color: _color('white');
}


.button-group.palette-grey.mod-outline .button {
  background-color: _color('white');
  box-shadow: inset 0 0 0 1px _color("grey", "500");
  color: _color("text.default");
  border-right: 0;

  &:hover {
    background-color: _color("grey", "50");
    color: _color("grey");
    box-shadow: inset 0 0 0 1px _color("grey", "700");
  }
}

.main.mod-withBanner .main-content.mod-withoutScroll {
  overflow: visible;
}

.button-group.palette-grey .button {
  &.is-loading, &.is-success, &.is-error {
    color: _color('grey', 600);
  }
}
.button.mod-counter {
  &.is-loading, &.is-success, &.is-error {
    .button-counter { visibility: hidden; }
    color: _color('primary', 600);
  }
}
