.textfield.mod-outlined {
  & .lu-select-placeholder {
    color: _color('grey', 800)
  }
}

.radioButtons.palette-grey.mod-outlined .radioButtons-item-label {
  background-color: _color('white');
}

.button.mod-outline {
  background-color: _color('white');
}

.main.mod-withBanner .main-content.mod-withoutScroll {
  overflow: visible;
}

.button-group.palette-grey .button {
  &.is-loading, &.is-success, &.is-error {
    color: _color('grey', 600);
  }
}
.button.mod-counter {
  &.is-loading, &.is-success, &.is-error {
    .button-counter { visibility: hidden; }
    color: _color('primary', 600);
  }
}
