.calendly-popup-panel {

  width: 40rem;
  height: 25rem;

  .lu-modal-panel-inner {
    height: 100%;

    .lu-modal-content {
      height: 100%;
      position: relative;
      overflow: hidden;
      padding: 0;

      &:after {
        padding: 0;
      }

      .lu-modal-header-close {
        right: 1.6rem;
      }
    }
  }
}
