.mod-contracts-sidepanel {
  width: 60rem!important;

  .menu {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

    align-items: stretch;
    border-bottom: 1px solid _theme("commons.divider.color");

    &::after {
      border-bottom: none;
    }
  }

  .button.mod-scrollIcon {
    position: sticky;
    z-index: 99;
    box-shadow: none !important;

    &:first-of-type {
      left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-of-type {
      right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .lu-modal-content {
    padding: 0;

    .contracts-sidepanel-content {
      padding: 1rem 2rem 0 2rem;
    }

    .mod-footer {
      position: sticky;
      z-index: 30;
      bottom: 0;
      padding: 1rem .5rem 0.5rem 0;
      display: flex;
      justify-content: flex-end;
      background: white;
    }
  }

  .lu-modal-footer {
    display: none;
  }
}
