<div class="page mod-fullWidth mod-withFullwidthTable">
  <header class="page-header blockWithFixedSizeInFlex">
    <h1>{{ "offers_page_title" | translate }}</h1>
  </header>

  <div class="header blockWithFixedSizeInFlex"></div>

  <div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

  <ng-template #isNotLoading>
    <cc-offer-list ccInfiniteScroll
                   (bottomReached)="nextPage()"
                   (sort)="updateSort($event)"
                   [offers]="offers$ | async"
                   [sortParams]="sortParams$ | async">
    </cc-offer-list>
  </ng-template>
</div>
