<div class="page mod-fullWidth mod-withFullwidthTable">
  <header class="page-header blockWithFixedSizeInFlex">
    <h1>{{ "offers_page_title" | translate }}</h1>
    <button class="button" routerLink="create" *ngIf="canCreateOffer">
      {{ "offers_page_button_create" | translate }}
    </button>
  </header>

  <cc-offer-filters class="header blockWithFixedSizeInFlex" [formControl]="filters"></cc-offer-filters>

  <div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

  <ng-template #isNotLoading>
    <h4 class="page-content page-resultsCount u-displayFlex u-alignItemsCenter u-justifyContentSpaceBetween">
      {{ 'offers_count' | translate : { count: totalCounts$ | async } }}
    </h4>

    <cc-offer-list ccInfiniteScroll
                   (bottomReached)="nextPage()"
                   (sort)="updateSort($event)"
                   [offers]="offers$ | async"
                   [sortParams]="sortParams$ | async">
    </cc-offer-list>
  </ng-template>
</div>
