<div class="radioButtons">
  <div class="radioButtons-item">
    <input type="radio"
           class="radioButtons-item-input palette-grey"
           id="all"
           [(ngModel)]="isAnonymizedData"
           (ngModelChange)="safeOnChange($event)"
           value=""
           checked>
    <label class="radioButtons-item-label palette-grey" for="all">
      {{ 'front_filterLabel_all' | translate }}
    </label>
  </div>
  <div class="radioButtons-item">
    <input type="radio"
           class="radioButtons-item-input palette-grey"
           id="anonymized"
           [(ngModel)]="isAnonymizedData"
           (ngModelChange)="safeOnChange($event)"
           value="true">
    <label class="radioButtons-item-label palette-grey" for="anonymized">
      {{ 'front_filterLabel_anonymized' | translate }}
    </label>
  </div>
  <div class="radioButtons-item">
    <input type="radio"
           class="radioButtons-item-input palette-grey"
           id="non-anonymized"
           [(ngModel)]="isAnonymizedData"
           (ngModelChange)="safeOnChange($event)"
           value="false">
    <label class="radioButtons-item-label palette-grey" for="non-anonymized">
      {{ 'front_filterLabel_nonAnonymized' | translate }}
    </label>
  </div>
</div>
