<form [formGroup]="formGroup" class="u-displayFlex u-flexDirectionColumn u-flexWrapWrap u-flexGrow1">
  <div class="u-displayFlex u-alignItemsFlexStart">
    <div class="u-displayFlex u-flexWrapWrap u-alignItemsFlexStart">
      <label class="textfield mod-search mod-inline palette-grey mod-outlined mod-longer">
        <input class="textfield-input" type="text"
               [placeholder]="'offers_filters_search' | translate" [formControlName]="formKey.Search">
      </label>

      <label class="textfield palette-grey mod-outlined mod-inline">
        <cc-offer-tag-api-select [formControlName]="formKey.Tag" [placeholder]="'offers_filters_tag' | translate">
        </cc-offer-tag-api-select>
      </label>
    </div>

    <button class="button mod-outline palette-grey mod-icon u-marginLeftAuto u-marginBottomSmallest"
            (click)="toggleMoreFiltersDisplay()">
      <span aria-hidden="true" class="button-icon lucca-icon icon-filterAbstract"></span>
      {{ 'offers_filters_additionalFilters_button' | translate }}
      <span class="label mod-number u-animatedScaleIn" *ngIf="!!selectedAdditionalFiltersCount">
        {{ selectedAdditionalFiltersCount }}
      </span>
    </button>
  </div>


  <div class="u-displayFlex u-flexWrapWrap u-alignItemsFlexStart u-animatedFadeIn u-marginTopSmallest"
       *ngIf="showAdditionalFilters">
    <cc-product-api-select textfieldClass="palette-grey mod-outlined mod-inline" [formControlName]="formKey.Product">
    </cc-product-api-select>

    <label class="textfield palette-grey mod-outlined mod-inline">
      <cc-offer-currency-api-select [formControlName]="formKey.Currencies"
                                    [placeholder]="'offers_filters_currency' | translate"
                                    [multiple]="true">
      </cc-offer-currency-api-select>
    </label>

    <label class="textfield palette-grey mod-outlined mod-inline">
      <cc-offer-billing-mode-select [formControlName]="formKey.BillingModes"
                                    [placeholder]="'offers_filters_billingModes' | translate"
                                    [multiple]="true">
      </cc-offer-billing-mode-select>
    </label>
  </div>

</form>
