<div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

<ng-template #isNotLoading>
  <div class="page-content">
    <div class="callout">
      {{ 'front_contractPage_offerTab_similar_offers_info' | translate }}
      <ul class="u-paddingLeftStandard u-marginTopSmall">
        <li>{{ 'front_contractPage_offerTab_similar_offers_info_priceList_condition' | translate }}</li>
        <li>{{ 'front_contractPage_offerTab_similar_offers_info_currency_condition' | translate }}</li>
        <li>{{ 'front_contractPage_offerTab_similar_offers_info_billingMode_condition' | translate }}</li>
        <li>{{ 'front_contractPage_offerTab_similar_offers_info_pricingMethod_condition' | translate }}</li>
      </ul>
    </div>

    <label class="textfield palette-grey mod-longer is-required u-marginTopStandard">
      <cc-similar-offer-api-select [formControl]="formControl" [context]="context$ | async" [required]="true"></cc-similar-offer-api-select>
      <span class="textfield-label">
        {{ 'front_contractPage_offerTab_similar_offers_label' | translate }}
      </span>
      <span class="textfield-messages" *ngIf="!!formControl.value">
        <a class="textfield-messages-helper u-marginRightStandard u-textDefault" (click)="openPriceGridModal()">
          {{ "front_priceGrid_openModal_link" | translate }}
        </a>
      </span>
    </label>
  </div>

  <footer class="page-footer">
    <div class="page-footer-right">
      <button class="button"
              [disabled]="!formControl.dirty || formControl.invalid"
              [ngClass]="editButtonClass$ | async"
              (click)="edit()">
        {{ 'front_contractPage_offerTab_edit_button_label' | translate }}
      </button>
      <button class="button mod-link" (click)="close()">
        {{ 'front_contractPage_modal_cancel_button_label' | translate }}
      </button>    </div>
  </footer>
</ng-template>
