<cc-offer-template [title]="'offers_page_import' | translate">

  <div class="page-content u-paddingReset">
    <div class="u-paddingStandard mod-stickyLeft">
      <button class="link">{{ 'offers_link_import_template' | translate }}</button>
			<cc-offer-upload (upload)="upload($event)"></cc-offer-upload>
		</div>

		<h4 class="u-marginLeftStandard">{{ 'offers_import_table_count' | translate : { count: totalCount } }}</h4>
		<cc-offer-import-table [formControl]="formControl"></cc-offer-import-table>
  </div>

  <div class="page-footer">
    <div class="page-footer-right u-flexGrow1">
      <button class="button" (click)="create()"
              [ngClass]="buttonClass$ | async"
              [disabled]="!formControl.dirty || formControl.invalid">
        {{ 'offers_forms_create' | translate }}
      </button>
      <button class="button mod-link" (click)="cancel()">
        {{ 'offers_forms_cancel' | translate }}
      </button>
    </div>
  </div>

</cc-offer-template>
