<cc-counts-dashboard-card class="grid-xs6"
                          [title]="'counts_launcher_number_of_contracts' | translate : { count: dashboard?.numberOfContracts } "
                          [totalCount]="dashboard?.numberOfContracts">
</cc-counts-dashboard-card>

<cc-counts-dashboard-card class="grid-xs6"
                          [title]="'counts_launcher_number_of_real_counts' | translate : { count: dashboard?.numberOfRealCounts }"
                          [totalCount]="dashboard?.numberOfRealCounts">
</cc-counts-dashboard-card>

<cc-counts-dashboard-card class="grid-xs6"
                          [title]="'counts_launcher_missing_counts' | translate : { count: dashboard?.numberOfContractsWithoutCount }"
                          [totalCount]="dashboard?.numberOfContractsWithoutCount"
                          [contractIds]="dashboard.contractIdsWithoutCounts">
</cc-counts-dashboard-card>

<cc-counts-dashboard-card class="grid-xs6"
                          [title]="'counts_launcher_draft_counts' | translate : { count: dashboard?.numberOfContractsWithDraftCount }"
                          [totalCount]="dashboard?.numberOfContractsWithDraftCount"
                          [contractIds]="dashboard.contractIdsWithDraftCount">
</cc-counts-dashboard-card>

<cc-counts-dashboard-card class="grid-xs6"
                          [title]="'counts_launcher_without_accounting_entry' | translate : { count: dashboard?.numberOfContractsWithCountWithoutAccountingEntry }"
                          [totalCount]="dashboard?.numberOfContractsWithCountWithoutAccountingEntry"
                          [contractIds]="dashboard.contractIdsWithCountWithoutAccountingEntry">
</cc-counts-dashboard-card>
