<div class="mod-stickyTop">

  <h4 class="u-marginLeftStandard u-marginTopSmall">{{ 'counts_launcher_info_numbers' | translate }}</h4>

  <cc-counts-dashboard-card titleTranslationKey="counts_launcher_number_of_contracts"
                            [totalCount]="dashboard?.numberOfContracts$ | async"
                            [isLoading]="dashboard?.isNumberOfContractsLoading$ | async">
  </cc-counts-dashboard-card>

  <cc-counts-dashboard-card titleTranslationKey="counts_launcher_number_of_real_counts"
                            [totalCount]="dashboard?.numberOfRealCounts$ | async"
                            [isLoading]="dashboard?.isNumberOfRealCountsLoading$ | async">
  </cc-counts-dashboard-card>


  <h4 class="u-marginLeftStandard u-marginTopSmall">{{ 'counts_launcher_info_with_details' | translate }}</h4>

  <cc-counts-dashboard-card mod="mod-clickable"
                            titleTranslationKey="counts_launcher_missing_counts"
                            [totalCount]="dashboard?.numberOfContractsWithoutCount$ | async"
                            [isLoading]="dashboard?.isContractsWithoutCountLoading$ | async"
                            [isSelected]="isSelected(section.WithoutCount)"
                            (showMoreDetails)="showDetails(section.WithoutCount)">
  </cc-counts-dashboard-card>

  <cc-counts-dashboard-card mod="mod-clickable"
                            titleTranslationKey="counts_launcher_draft_counts"
                            [totalCount]="dashboard?.numberOfContractsWithDraftCount$ | async"
                            [isLoading]="dashboard?.isContractsWithDraftCountLoading$ | async"
                            [isSelected]="isSelected(section.WithDraftCount)"
                            (showMoreDetails)="showDetails(section.WithDraftCount)">
  </cc-counts-dashboard-card>

  <cc-counts-dashboard-card mod="mod-clickable"
                            titleTranslationKey="counts_launcher_without_accounting_entry"
                            [totalCount]="dashboard?.numberOfContractsWithCountWithoutAccountingEntry$ | async"
                            [isLoading]="dashboard?.isContractsWithCountWithoutAccountingEntryLoading$ | async"
                            [isSelected]="isSelected(section.WithCountWithoutAccountingEntry)"
                            (showMoreDetails)="showDetails(section.WithCountWithoutAccountingEntry)">
  </cc-counts-dashboard-card>

</div>
