<div class="mod-stickyTop">

  <h4 class="u-marginLeftStandard u-marginTopSmall">{{ 'counts_launcher_info_numbers' | translate }}</h4>

  <cc-counts-dashboard-card [title]="contractsTitle$ | async"
                            [totalCount]="dashboard?.numberOfContracts$ | async"
                            [isLoading]="dashboard?.isNumberOfContractsLoading$ | async">
  </cc-counts-dashboard-card>

  <cc-counts-dashboard-card [title]="realCountsTitle$ | async"
                            [totalCount]="dashboard?.numberOfRealCounts$ | async"
                            [isLoading]="dashboard?.isNumberOfRealCountsLoading$ | async">
  </cc-counts-dashboard-card>


  <h4 class="u-marginLeftStandard u-marginTopSmall">{{ 'counts_launcher_info_with_details' | translate }}</h4>

  <cc-counts-dashboard-card mod="mod-clickable"
                            [title]="missingCountsTitle$ | async"
                            [totalCount]="dashboard?.numberOfContractsWithoutCount$ | async"
                            [isLoading]="dashboard?.isContractsWithoutCountLoading$ | async"
                            [isSelected]="isSelected(section.WithoutCount)"
                            (showMoreDetails)="showDetails(section.WithoutCount)">
  </cc-counts-dashboard-card>

  <cc-counts-dashboard-card mod="mod-clickable"
                            [title]="draftCountsTitle$ | async"
                            [totalCount]="dashboard?.numberOfContractsWithDraftCount$ | async"
                            [isLoading]="dashboard?.isContractsWithDraftCountLoading$ | async"
                            [isSelected]="isSelected(section.WithDraftCount)"
                            (showMoreDetails)="showDetails(section.WithDraftCount)">
  </cc-counts-dashboard-card>

  <cc-counts-dashboard-card mod="mod-clickable"
                            [title]="countsWithoutAccountingEntryTitle$ | async"
                            [totalCount]="dashboard?.numberOfContractsWithCountWithoutAccountingEntry$ | async"
                            [isLoading]="dashboard?.isContractsWithCountWithoutAccountingEntryLoading$ | async"
                            [isSelected]="isSelected(section.WithCountWithoutAccountingEntry)"
                            (showMoreDetails)="showDetails(section.WithCountWithoutAccountingEntry)">
  </cc-counts-dashboard-card>

</div>
