<section class="mod-view u-marginBottomSmaller" [ngClass]="class">
  <header class="section-header" (click)="toggleEstablishmentSectionDisplay()">
    <span class="section-label label mod-number">{{ totalCount }}</span>
    <h4 class="section-title">{{ title }}</h4>

    <div class="mod-accordion">
      <i class="lucca-icon">{{ isExpandedByDefault ? 'arrow_south': 'arrow_north' }}</i>
      <i class="lucca-icon">{{ isExpandedByDefault ? 'arrow_north': 'arrow_south' }}</i>
    </div>
  </header>

  <div class="section-content" *ngIf="isExpandedByDefault">
    <div class="section-filters">
      <ng-content select="[filters]"></ng-content>
    </div>

    <ng-content select="[content]"></ng-content>
  </div>
</section>
