<div class="banner-container">
  <div class="u-displayFlex">
    <div class="cloudcontrolLogo"></div>
    Cloud Control
    <div>
      <a class="partenaires" href="/goToPartenaires">
        {{ "front_banner_link_partner" | translate }}
      </a>
      <a class="lucca" href="/goToLucca" *ngIf="shouldDisplayLuccaUrl">
        {{ "front_banner_link_lucca" | translate }}
      </a>
    </div>
  </div>
  <span class="iLuccaTitle">{{ "front_banner_title" | translate }}</span>
  <div>
    {{ principal.name }}
    <a (click)="logoutAsync()">{{ "front_banner_logout" | translate }}</a>
  </div>
</div>
