<form class="grid" [formGroup]="filtersFormGroup">
  <div class="grid-xs12">
    <cc-user-api-select class="palette-grey mod-outlined mod-inline" [formControlName]="filtersKey.Users">
    </cc-user-api-select>

    <cc-environment-action-select class="palette-grey mod-outlined mod-inline" [formControlName]="filtersKey.Actions">
    </cc-environment-action-select>

    <cc-environment-api-select class="palette-grey mod-outlined mod-inline" [formControlName]="filtersKey.Environments">
    </cc-environment-api-select>

    <cc-date-range-select class="palette-grey mod-outlined mod-inline mod-short" [formControlName]="filtersKey.CreatedOn">
    </cc-date-range-select>
  </div>

  <div class="grid-xs12 u-displayFlex u-marginTopSmaller u-animatedFadeIn" *ngIf="showMoreFilters">
    <cc-environment-domain-select class="palette-grey mod-outlined mod-inline" [formControlName]="filtersKey.Domains">
    </cc-environment-domain-select>

    <cc-anonymization-button-group class="u-marginRightSmallest" [formControlName]="filtersKey.IsAnonymized">
    </cc-anonymization-button-group>
  </div>
</form>

<button class="button mod-outline palette-grey mod-icon u-marginLeftAuto" (click)="toggleMoreFiltersDisplay()">
  <span aria-hidden="true" class="button-icon lucca-icon icon-filterAbstract"></span>
  <span *ngIf="!showMoreFilters; else showLessFilters">{{ "front_logPage_moreFiltersButton_label" | translate }}</span>
  <ng-template #showLessFilters>{{ "front_logPage_lessFiltersButton_label" | translate }}</ng-template>
</button>
