<label class="textfield {{ textfieldClass }}" [ngClass]="{ 'is-required': required }">
  <lu-select [(ngModel)]="model"
             (ngModelChange)="update($event)"
             #establishmentCtrl="ngModel"
             class="textfield-input"
             [placeholder]="placeholder"
             (onOpen)="setEstablishmentsDisplayed()"
             [multiple]="multiple"
             [required]="required">

    <ng-container *luDisplayer="let value; multiple: multiple">
      <ng-container *ngIf="multiple; else notMultiple">
        <span *ngIf="value?.length !== 1; else: singleSelection">
        <span class="label">{{ value.length }}</span>
          {{ 'front_select_establishments_selection' | translate: { count: value.length } }}
        </span>
        <ng-template #singleSelection>{{value[0].name }}</ng-template>
      </ng-container>

      <ng-template #notMultiple>{{ value.name }}</ng-template>
    </ng-container>

    <lu-option-picker-advanced>
      <header class="lu-picker-header">
        <lu-api-paged-searcher [api]="apiUrl" [filters]="filtersToExcludeSelection"></lu-api-paged-searcher>
      </header>

      <lu-option-pager *ngIf="multiple"></lu-option-pager>
      <ng-container *ngIf="multiple">
        <lu-option *ngFor="let establishmentSelected of establishmentsSelected" [value]="establishmentSelected" selected>
          {{ establishmentSelected.name }}
        </lu-option>
      </ng-container>

      <lu-option *luForOptions="let establishment; trackBy: trackBy" [value]="establishment">
        {{establishment.name}}
      </lu-option>

    </lu-option-picker-advanced>
    <lu-input-clearer></lu-input-clearer>
  </lu-select>
  <span class="textfield-label" *ngIf="isFormDisplayMode">{{ label }}</span>
  <span class="textfield-messages" *ngIf="establishmentCtrl.touched && establishmentCtrl.hasError('required')">
    <span class="textfield-messages-error">
      {{ "front_select_establishments_errorMessage_required" | translate }}
    </span>
  </span>
</label>
