<div class="callout mod-icon palette-grey" *ngIf="showDisabledFormInformation">
  <div class="callout-icon">
    <span aria-hidden="true" class="lucca-icon icon-info"></span>
  </div>
  {{ 'front_contractPage_contractEdition_disabledForm_info_description' | translate }}
</div>

<form [formGroup]="formGroup">
  <cc-billing-frequency-select textfieldClass="palette-grey" [formControlName]="formGroupKey.BillingMonth" [required]="true"
                               [frequencyDisabled]="isFrequencyDisabled$ | async">
  </cc-billing-frequency-select>

  <label class="textfield mod-longest u-marginTopStandard is-required palette-grey">
    <lu-date-select [formControlName]="formGroupKey.TheoreticalStartOn"
                    [required]="true"
                    granularity="month"
                    class="textfield-input">
    </lu-date-select>
    <span class="textfield-label">{{ 'front_theoreticalStartAt_label' | translate }}</span>
    <span class="textfield-messages" *ngIf="formGroup.controls.theoreticalStartOn.touched && formGroup.controls.theoreticalStartOn.hasError('required')">
      <span class="textfield-messages-error">
        {{ "front_theoreticalStartAt_errorMessage_required" | translate }}
      </span>
    </span>
  </label>

  <cc-distributor-api-select [formControlName]="formGroupKey.Distributor"
                             [displayMode]="selectDisplayMode.Form"
                             [required]="true"
                             textfieldClass="mod-longest palette-grey u-marginTopStandard palette-grey">
  </cc-distributor-api-select>

  <cc-client-api-select [formControlName]="formGroupKey.Client"
                        [displayMode]="selectDisplayMode.Form"
                        [required]="true"
                        textfieldClass="mod-longest u-marginTopStandard palette-grey">
  </cc-client-api-select>

  <cc-product-api-select [formControlName]="formGroupKey.Product"
                         [displayMode]="selectDisplayMode.Form"
                         [required]="true"
                         textfieldClass="mod-longest u-marginTopStandard palette-grey">
  </cc-product-api-select>

  <cc-offer-api-select [formControlName]="formGroupKey.Offer"
                       [displayMode]="selectDisplayMode.Form"
                       [required]="true"
                       [filters]="offerApiFilters"
                       textfieldClass="mod-longest u-marginTopStandard palette-grey">
  </cc-offer-api-select>

  <div class="u-displayFlex u-marginTopStandard">
    <cc-theoretical-draft-count textfieldClass="palette-grey"
                                [formControlName]="formGroupKey.TheoreticalDraftCount" [required]="true"></cc-theoretical-draft-count>

    <cc-theoretical-month-rebate textfieldClass="palette-grey u-marginLeftBig"
                                 [formControlName]="formGroupKey.TheoreticalMonthRebate"
                                 [required]="true">
    </cc-theoretical-month-rebate>
  </div>

  <cc-client-rebate textfieldClass="palette-grey u-marginTopStandard" [formControlName]="formGroupKey.ClientRebate">
  </cc-client-rebate>

  <cc-minimal-billing-percentage textfieldClass="palette-grey u-marginTopStandard"
                                 [formControlName]="formGroupKey.MinimalBillingPercentage"
                                 [required]="true"
                                 [min]="0"
                                 [max]="100">
  </cc-minimal-billing-percentage>

  <cc-comment [formControlName]="formGroupKey.Comment" textfieldClass="palette-grey mod-longest u-marginTopStandard"></cc-comment>
</form>
