<div class="button-group palette-grey mod-outline">
  <button class="button mod-small" (click)="addFilter()" [disabled]="disabled">
    {{ 'cafe_filters_add_one_button_label' | translate }}
  </button>
  <button class="button mod-more" [luDropdown]="dropdown"></button>
</div>

<lu-dropdown #dropdown>
  <li class="lu-dropdown-options-item" >
    <a class="lu-dropdown-options-item-action" (click)="clearFilters()" luDropdownItem>
      {{ 'cafe_filters_delete_all_button_label' | translate }}
    </a>
  </li>
</lu-dropdown>
