<label class="textfield" [ngClass]="to?.mod">
  <cc-facet-value-api-select [formControl]="formControl"
                             [formlyAttributes]="field"
                             [placeholder]="to?.placeholder"
                             [multiple]="to?.multiple"
                             [required]="to?.required"
                             [facetScope]="to?.facetScope"
                             [filters]="to?.filters">
  </cc-facet-value-api-select>
  <span class="textfield-label" *ngIf="to?.label">{{ to.label }}</span>
</label>
