<div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

<ng-template #isNotLoading>
  <div class="page-content u-paddingReset">
    <header class="u-displayFlex u-flexGrow1 u-marginStandard">
      <cc-draft-actions-button-group [draftCounts]="draftCounts$ | async"
                                     [showDraftCounts]="showDraftCounts"
                                     (toggleDraftDisplay)="toggleDraftCountsDisplay()"
                                     (chargeDraft)="chargeDraftCounts()"
                                     [chargeButtonState]="chargeDraftButtonState$ | async"
                                     (deleteDraft)="deleteDraftCount()"
                                     [deleteButtonState]="deleteDraftButtonState$ | async">
      </cc-draft-actions-button-group>

      <span [luTooltip]="'front_contractPage_counts_details_downloadButton_info' | translate"
            [luTooltipDisabled]="hasDetails$ | async" luTooltipPosition="below">
        <button [disabled]="(hasDetails$ | async) === false"
                (click)="openDownloadModal()"
                class="button palette-grey">
          {{ 'contracts_count_details_downloadButton_label' | translate }}
        </button>
      </span>
    </header>

    <cc-counts-list [countListEntries]="countListEntries$ | async"
                    [contract]="contract$ | async"
                    [showDraftCounts]="showDraftCounts"
                    [(ngModel)]="countsSelected"
                    (charge)="charge($event)"></cc-counts-list>
  </div>

  <div class="page-footer">
    <div class="page-footer-right">
      <button *ngIf="canChargeCount()"
              class="button"
              (click)="openReplayModal()">
        {{ 'contracts_count_replayReal_label' | translate }}
      </button>
      <span class="u-marginLeftSmaller"
            [luTooltip]="'contracts_count_delete_action_disabled_info' | translate"
            [luTooltipDisabled]="!!countsSelected.length">
        <button *ngIf="canDeleteCount()"
                class="button mod-outline mod-counter"
                [disabled]="!countsSelected.length"
                [ngClass]="deleteButtonState$ | async"
                (click)="delete(countsSelected)">
        {{ 'front_contractPage_counts_delete_action_label' | translate }}
          <span class="button-counter">{{ countsSelected.length }}</span>
      </button>
      </span>
    </div>
  </div>
</ng-template>
