<div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

<ng-template #isNotLoading>
  <div class="page-content u-paddingReset">
    <cc-counts-detail-download-callout class="u-displayBlock u-marginStandard"
                                       *ngIf="!isDownloadFormDisplay"
                                       [firstCountWithDetails]="firstCountWithDetails$ | async"
                                       (download)="toggleDownloadFormDisplay()">
    </cc-counts-detail-download-callout>
    <cc-counts-detail-download-form class="u-marginStandard"
                                    *ngIf="isDownloadFormDisplay"
                                    (downloadCountsDetail)="download($event)"
                                    (cancel)="toggleDownloadFormDisplay()"
                                    [downloadButtonState]="downloadButtonState$ | async"
                                    [firstCountWithDetails]="firstCountWithDetails$ | async"
                                    [contract]="contract$ | async">
    </cc-counts-detail-download-form>

    <header class="u-displayFlex u-marginStandard">
      <div class="u-displayFlex u-flexDirectionColumn u-justifyContentSpaceBetween">
      <span>
        {{ 'front_contractPage_counts_group_title_action' | translate }}
        <span class="label mod-number">{{ (realCounts$ | async)?.length }}</span>
      </span>
        <div>
          <button *ngIf="canChargeCount()"
                  class="button"
                  (click)="openReplayModal()">
            {{ 'front_contractPage_counts_replay_action_label' | translate }}
          </button>
          <button *ngIf="canDeleteCount()"
                  class="button mod-link"
                  [disabled]="!countsSelected.length"
                  [ngClass]="deleteButtonState$ | async"
                  (click)="delete(countsSelected)">
            {{ 'front_contractPage_counts_delete_action_label' | translate }}
          </button>
        </div>

      </div>
      <cc-draft-actions-button-group class="u-marginLeftAuto"
                                     [draftCounts]="draftCounts$ | async"
                                     [showDraftCounts]="showDraftCounts"
                                     (toggleDraftDisplay)="toggleDraftCountsDisplay()"
                                     (chargeDraft)="chargeDraftCounts()"
                                     [chargeButtonState]="chargeDraftButtonState$ | async"
                                     (deleteDraft)="deleteDraftCount()"
                                     [deleteButtonState]="deleteDraftButtonState$ | async">
      </cc-draft-actions-button-group>
    </header>

    <cc-counts-list [countListEntries]="countListEntries$ | async"
                    [contract]="contract$ | async"
                    [showDraftCounts]="showDraftCounts"
                    [(ngModel)]="countsSelected"
                    (charge)="charge($event)"></cc-counts-list>
  </div>
</ng-template>
