<form [formGroup]="parentFormGroup" class="u-displayFlex u-flexWrapWrap u-alignItemsCenter u-flexGrow0 u-flexShrink1">

  <cc-comparison-criterion-select [formControlName]="formKey.Criterion" [fields]="formlyFieldConfigs">
  </cc-comparison-criterion-select>

  <ng-container *ngIf="configuration$ | async; let configuration">

    <ng-container *ngIf="!!configuration.children; else hasNoChild">
      <cc-comparison-filter-criterion-form [configurations]="configuration.children"
                                           [formlyFieldConfigs]="configuration.childrenFormlyFieldConfigs"
                                           [formControl]="childFormControl">
      </cc-comparison-filter-criterion-form>
    </ng-container>

    <ng-template #hasNoChild>
      <ng-container *ngIf="!!configuration?.operators?.length">
        <cc-comparison-operator-select textfieldClass="palette-grey mod-outlined mod-inline"
                                       [formControlName]="formKey.Operator"
                                       [operators]="configuration.operators"
                                       [required]="true"
                                       (blur)="onTouch()">
        </cc-comparison-operator-select>
      </ng-container>

      <cc-comparison-value-select [formControlName]="formKey.Values"
                                  [configuration]="componentConfiguration$ | async"
                                  (blur)="onTouch()">
      </cc-comparison-value-select>
    </ng-template>

  </ng-container>
</form>
