<label class="textfield palette-grey">
  <lu-select [(ngModel)]="actionIdsSelected"
             (ngModelChange)="safeOnChange($event)"
             class="textfield-input"
             [placeholder]="'front_filterLabel_action' | translate"
             multiple>
    <ng-container *luDisplayer="let actions; multiple: true">
      <span class="label">{{actions.length}}</span>
      {{ 'front_filterSelection_action' | translate: { count: actions.length } }}
    </ng-container>
    <lu-option-picker-advanced>
      <lu-option-feeder [options]="actions"></lu-option-feeder>
      <header class="lu-picker-header">
        <lu-option-searcher [searchFn]="searchFn"></lu-option-searcher>
      </header>
      <lu-option-pager></lu-option-pager>
      <lu-option *luForOptions="let action; trackBy: trackBy" [value]="action.id">{{action.name}}</lu-option>
    </lu-option-picker-advanced>
    <lu-input-clearer></lu-input-clearer>
  </lu-select>
</label>
