<form [formGroup]="dateRangeSelected" (focusin)="onTouch()" [ngClass]="datesClass">
  <label class="textfield {{ configuration.startDateConfiguration.class }}"
         [ngClass]="{ 'is-required': required, 'is-error': isError }">
    <lu-date-select class="textfield-input"
                    formControlName="startDate"
                    [granularity]="configuration.startDateConfiguration.granularity"
                    [required]="required"
                    [min]="configuration.startDateConfiguration.min"
                    [max]="endDate || configuration.startDateConfiguration.max"
                    [placeholder]="'front_filterLabel_startDate' | translate">
    </lu-date-select>
  </label>

  <label class="textfield {{ configuration.endDateConfiguration.class }}"
         [ngClass]="{ 'is-required': required, 'is-error': isError }">
    <lu-date-select class="textfield-input"
                    formControlName="endDate"
                    [granularity]="configuration.startDateConfiguration.granularity"
                    [required]="required"
                    [min]="startDate || configuration.endDateConfiguration.min"
                    [max]="configuration.endDateConfiguration.max"
                    [placeholder]="'front_filterLabel_endDate' | translate">
    </lu-date-select>
  </label>
</form>

