<div class="callout palette-grey u-displayFlex u-alignItemsCenter u-animatedSlideInTop">
  <ng-container *ngIf="!!firstCountWithDetails; else hasNoDetails">
    {{ 'front_contractPage_counts_details_info' | translate : { period: getLastCountPeriod(firstCountWithDetails) } }}
    <div class="u-marginLeftAuto">
      <button class="button mod-outline palette-grey" (click)="downloadCountDetails()">
        {{ 'front_contractPage_counts_details_downloadButton_label' | translate }}
      </button>
    </div>
  </ng-container>

  <ng-template #hasNoDetails>
    {{ 'front_contractPage_counts_no_details_info' | translate }}
  </ng-template>
</div>
