.mod-scroll-viewport { height: 100%; }

.mod-infinite-scrolling .table-head .table-head-row .table-head-row-cell, .mod-infinite-scrolling .table-head {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
}

.mod-infinite-scrolling .table-body .table-body-row .table-body-row-cell {
  height: var(--row-height-in-px);
}
