
.idea/
.vs/
logs/

src/**/bin/
src/**/obj/

src/**/Resources
src/**/*.csproj.user
src/**/Properties/launchSettings.json

src/CloudControl.Web/Properties/PublishProfiles/*.pubxml
src/CloudControl.Web/Properties/PublishProfiles/*.user
src/publish
src/CloudControl.Web/appsettings.json
src/CloudControl.Web/web.config
src/CloudControl.Web/migration.log
