
.idea/
.vs/
logs/

**/bin/
**/obj/


CC.Master.sln.DotSettings.user
*.feature.cs

**/Resources/Translations
**/*.csproj.user
**/Properties/launchSettings.json

CloudControl.Web/Properties/PublishProfiles/*.pubxml
CloudControl.Web/Properties/PublishProfiles/*.user
publish
CloudControl.Web/appsettings.json
CloudControl.Web/web.config
CloudControl.Web/migration.log
