@import "theming.import";

:host {
  border: solid 1px _color('grey', 50);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  border-radius: 0;
  margin: 0;
  border: none;

  h3 { margin-bottom: 0; }

  .card-content {
    display: flex;
    align-items: center;
  }
}
