@import "theming.import";

:host { display: contents; }

.card {
  border-radius: 0;
  margin: 0;
  border: none;
  border-bottom: solid 1px _color('grey', 50);
  border-top: solid 1px _color('grey', 50);

  &.is-selected {
    background-color: _color('grey', 50);
  }

  h3 { margin-bottom: 0; }

  .card-content {
    display: flex;
    align-items: center;
  }
}
