<table class="table">
  <thead class="table-head">
  <tr class="table-head-row">
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_lowerBound' | translate }}</th>
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_upperBound' | translate }}</th>
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_unitPrice' | translate }}</th>
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_fixedPrice' | translate }}</th>
  </tr>
  </thead>
  <tbody class="table-body">
  <tr class="table-body-row" *ngFor="let priceRow of priceRows">
    <td class="table-body-row-cell mod-alignRight">{{ getLowerBound(priceRow.maxIncludedCount) }}</td>
    <td class="table-body-row-cell mod-alignRight">{{ priceRow.maxIncludedCount }}</td>
    <td class="table-body-row-cell mod-alignRight">{{ priceRow.unitPrice | currency : currency.name }}</td>
    <td class="table-body-row-cell mod-alignRight">{{ priceRow.fixedPrice | currency : currency.name }}</td>
  </tr>
  </tbody>
</table>
