<table class="table">
  <thead class="table-head">
  <tr class="table-head-row">
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_lowerBound' | translate }}</th>
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_upperBound' | translate }}</th>
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_unitPrice' | translate }}</th>
    <th class="table-head-row-cell">{{ 'front_priceGrid_column_fixedPrice' | translate }}</th>
  </tr>
  </thead>
  <tbody class="table-body">
  <tr class="table-body-row" *ngFor="let priceList of offerPriceList.priceLists">
    <td class="table-body-row-cell mod-alignRight">{{ priceList.lowerBound | currency : offerPriceList.currency.name }}</td>
    <td class="table-body-row-cell mod-alignRight">{{ priceList.upperBound | currency: offerPriceList.currency.name }}</td>
    <td class="table-body-row-cell mod-alignRight">{{ priceList.unitPrice | currency : offerPriceList.currency.name }}</td>
    <td class="table-body-row-cell mod-alignRight">{{ priceList.fixedPrice | currency : offerPriceList.currency.name }}</td>
  </tr>
  </tbody>
</table>
