<cc-offer-template *ngIf="offer$ | async; let offer"
                   [title]="'offers_edition_title' | translate: { name: offer.name }">

  <div class="page-content">
    <div class="loading mod-dialog" *ngIf="isLoading$ | async; else isNotLoading"></div>
    <ng-template #isNotLoading>
      <cc-offer-form [formControl]="formControl"></cc-offer-form>
    </ng-template>
  </div>

  <div class="page-footer">
    <div class="page-footer-right u-flexGrow1">
      <button class="button"
              [ngClass]="editionButtonState$ | async"
              [disabled]="!formControl.dirty || formControl.invalid"
              (click)="edit()">
        {{ 'offers_forms_edit' | translate }}
      </button>
      <button class="button mod-link" (click)="cancel()">
        {{ 'offers_forms_cancel' | translate }}
      </button>
    </div>
  </div>

</cc-offer-template>
