<div class="errorPage">
  <section class="u-displayFlex u-flexDirectionColumn u-alignItemsCenter">
    <div class="errorPage-section-info">
      <h1 class="errorPage-section-info-title">
        {{ 'front_contractPage_errorTab_notFound_title' | translate }}</h1>
      <p class="errorPage-section-info-text">
        {{ 'front_contractPage_errorTab_notFound_text' | translate }}
      </p>
      <a class="errorPage-section-info-link" (click)="close()">
        {{ 'front_contractPage_errorTab_notFound_link' | translate }}
      </a>
    </div>
    <img src="https://cdn.lucca.fr/errors/svg/404-lucca.svg" alt="Error 404" class="errorPage-section-image">
  </section>
</div>
