<cc-cafe-page-template>
  <ng-container page-header-right>
    <button class="button primary u-marginBottomStandard" type="button"
            [class]="exportButtonClass$ | async" [disabled]="!canExport" (click)="export()">
      {{ 'cafe_export_button' | translate }}
    </button>
  </ng-container>

  <ng-container page-subheader>
    <cc-cafe-page-filter-template [advancedFilterConfig]="advancedFilterConfig" [formControl]="filters">
    </cc-cafe-page-filter-template>
  </ng-container>

  <ng-container page-content>
    <div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

    <ng-template #isNotLoading>
      <h4 class="page-content page-resultsCount u-displayFlex u-alignItemsCenter u-justifyContentSpaceBetween">
        {{ 'cafe_environments_count' | translate : { count: environmentsCount$ | async } }}

        <cc-environment-additional-column-select textfieldClass="palette-grey mod-outlined mod-long"
                                                 [formControl]="selectedColumns">
        </cc-environment-additional-column-select>
      </h4>

      <cc-environment-list ccInfiniteScroll
                           (bottomReached)="nextPage()"
                           [environments]="environments$ | async"
                           [selectedColumns]="selectedColumns.value">
      </cc-environment-list>
    </ng-template>
  </ng-container>

</cc-cafe-page-template>

