<div class="page mod-fullWidth mod-withFullwidthTable">
  <header class="page-header blockWithFixedSizeInFlex">
    <h1>{{ "cafe_title" | translate }}</h1>
  </header>

  <div class="header blockWithFixedSizeInFlex">
    <cc-cafe-filters class="u-displayFlex u-flexDirectionColumn u-flexWrapWrap u-flexShrink0 u-flexGrow1"
                     [categories]="configuration.categories"
                     [configurations]="configuration.advancedFilters"
                     [formControl]="cafeFilters">
    </cc-cafe-filters>
  </div>
</div>
