<label class="file mod-small u-marginTopSmaller mod-maxWidthReset">
	<input class="file-input is-droppable" type="file" title="" accept=".xls,.xlsx,.csv" />
	<span role="text" class="file-content">
	<span aria-hidden="true" class="file-icon lucca-icon icon-success u-textSuccess"></span>
	<span aria-hidden="true" class="file-icon lucca-icon icon-error u-textError"></span>
	<span class="file-titleName">
		<span class="file-title u-marginBottomReset">{{ 'offers_import_file_title' | translate }}</span>
		<span class="file-name"></span>
	</span>
	<span class="file-button button palette-grey mod-outline">
		{{ 'offers_import_file_button' | translate }}
	</span>
</span>
</label>