<label class="textfield palette-grey mod-block mod-password is-required">
  <input class="textfield-input" [type]="passwordInputType$ | async" [required]="true"
         [formControl]="password">
  <span class="textfield-label">{{ 'demos_password_label' | translate }}</span>
  <button class="textfield-suffix" (click)="toggleDisplayPassword()" [ngClass]="{ 'is-active': isActive$ | async }">
    <span aria-hidden="true" class="lucca-icon icon-watch"></span>
  </button>

  <span class="textfield-messages">
    <span class="textfield-messages-error" *ngIf="password.touched && password.hasError('required')">
      {{ 'demos_password_label_required' | translate }}
    </span>
  </span>

</label>
