@import "theming.import";

:host { display: block; }

.textfield.mod-password button.textfield-suffix {
  padding-right: _theme('spacings.smallest');
  bottom: 1rem;
  pointer-events: all;
  cursor: pointer;
  font: inherit;
  color: inherit;
  background-color: transparent;
  display: block;
  border: 0;
  text-align: left;
  width: auto;

  &.is-active {
    color: _color('primary', 700);
  }
}
