<header class="u-paddingLeftSmall u-paddingRightSmall u-paddingTopSmaller u-paddingBottomSmaller u-displayFlex u-justifyContentSpaceBetween">
  <label class="checkbox" *ngIf="canReadValidationContext">
    <input class="checkbox-input" type="checkbox" name="checkboxEtsList" [checked]="areAllSelected" (click)="selectAll()">
    <span class="checkbox-label">
      {{ 'front_contractPage_establishments_selectAll_label' | translate }}
    </span>
  </label>
  <div>{{ 'front_contractPage_establishments_display_entries' | translate : { count: (entries.length) } }}</div>
</header>

<div class="mod-tableContainer">
  <table class="table">
    <thead class="table-head">
      <tr class="table-head-row">
        <th class="table-head-row-cell" *ngIf="canReadValidationContext"></th>
        <th class="table-head-row-cell">
          {{ 'front_contractPage_establishments_column_name' | translate }}
        </th>
        <th class="table-head-row-cell" *ngIf="isType(listEntryType.LinkedToAnotherContract)">
          {{ 'front_contractPage_establishments_column_contract' | translate }}
        </th>
        <th class="table-head-row-cell" *ngIf="!isType(listEntryType.Excluded)">
          {{ 'front_contractPage_establishments_column_state' | translate }}
        </th>
        <th class="table-head-row-cell" *ngIf="isLinked">
          {{ 'front_contractPage_establishments_column_activation' | translate }}
        </th>
        <th class="table-head-row-cell" *ngIf="isLinked">
          {{ 'front_contractPage_establishments_column_deactivation' | translate }}
        </th>
        <th class="table-head-row-cell" *ngIf="isLinked">
          {{ 'front_contractPage_establishments_column_endReason' | translate }}
        </th>
        <th class="table-head-row-cell" *ngIf="isLinked">
          {{ 'front_contractPage_establishments_column_monthFree' | translate }}
        </th>
        <th class="table-head-row-cell mod-actions" *ngIf="canReadValidationContext"></th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-body-row" *ngFor="let entry of entries; trackBy: trackBy" [ngClass]="{ 'u-textLight': isFinished(entry) }">
        <td class="table-body-row-cell" *ngIf="canReadValidationContext">
          <label class="checkbox">
            <input class="checkbox-input" type="checkbox" name="checkboxEtsList"
                   [checked]="isSelected(entry)" (click)="select(entry)">
            <span class="checkbox-label"></span>
          </label>
        </td>
        <td class="table-body-row-cell">{{ entry.establishment?.name }}</td>
        <td class="table-body-row-cell" *ngIf="isType(listEntryType.LinkedToAnotherContract)">
          {{ entry.attachment?.contract?.name }}
        </td>
        <td class="table-body-row-cell" *ngIf="!isType(listEntryType.Excluded)">
          {{ getLifecycleStepDescription(entry.lifecycleStep, entry.establishment) }}
        </td>
        <td class="table-body-row-cell" *ngIf="isLinked">
          {{ entry.attachment?.start | date : 'dd/MM/yyyy' }}
        </td>
        <td class="table-body-row-cell" *ngIf="isLinked">
          {{ entry.attachment?.end | date : 'dd/MM/yyyy' }}
        </td>
        <td class="table-body-row-cell" *ngIf="isLinked">
          {{ getEndReason(entry.attachment?.endReason) }}
        </td>
        <td class="table-body-row-cell" *ngIf="isLinked">
          {{ entry.attachment?.nbMonthFree }}
        </td>
        <td class="table-body-row-cell mod-actions" *ngIf="canReadValidationContext">
          <cc-establishment-list-actions-single *ngIf="canEditAttachments()"
                                                [type]="type"
                                                [entry]="entry"
                                                [context]="context">
          </cc-establishment-list-actions-single>
        </td>
      </tr>
    </tbody>
  </table>

  <section class="emptyState" *ngIf="isEmpty">
    <h3 class="emptyState-title">
      {{ 'front_contractPage_establishments_emptyState_title' | translate }}
    </h3>
    <p class="emptyState-description">
      {{ 'front_contractPage_establishments_emptyState_description' | translate }}
    </p>
  </section>

</div>

<cc-establishment-list-actions-multiple class="u-displayBlock u-textRight u-paddingSmall"
                                        *ngIf="canEditAttachments() && canReadValidationContext"
                                        [type]="type"
                                        [entries]="selectedEntries"
                                        [context]="context">
</cc-establishment-list-actions-multiple>
