@import "theming.import";

.mod-tableContainer {
  overflow: auto;
  display: block;
  max-height: 20rem;
  border-top: solid 1px _color('grey', 100);
}

.table .table-head-row {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: white;
}
