<form [formGroup]="formGroup" class="u-displayFlex">
  <cc-distributor-filter-button-group class="u-marginRightSmall"
                                      [formControlName]="formKey.SaleType"
                                      radioButtonsClass="palette-grey mod-outlined">
  </cc-distributor-filter-button-group>

  <label class="textfield mod-search mod-longer palette-grey mod-outlined u-marginRightSmall">
    <input class="textfield-input"
           type="text"
           [placeholder]="'front_filterLabel_contractSearch' | translate"
           [formControlName]="formKey.DraftName">
  </label>
</form>
