<cc-distributor-filter-button-group class="u-marginRightSmall u-marginTopSmallest"
                                    [(ngModel)]="draftsFilter.saleType" (ngModelChange)="update()"
                                    radioButtonsClass="palette-grey mod-outlined">
</cc-distributor-filter-button-group>
<label class="textfield mod-search mod-longer palette-grey mod-outlined u-marginTopSmallest">
  <input class="textfield-input"
         type="text"
         [placeholder]="'front_filterLabel_contractSearch' | translate"
         [(ngModel)]="draftsFilter.draftName"
         (ngModelChange)="update()">
</label>

