<div class="card">
  <div class="card-content">
    <h2>{{ getBillingEntityName(accountingPeriod.entity) }} : {{ 'front_accountingRevenuePage_currentPeriod_title_card' | translate }}</h2>

    <div *ngIf="isLoading; else isNotLoading" class="progress mod-indeterminate">
      <div class="progress-bar"></div>
    </div>

    <ng-template #isNotLoading>
      <div class="u-right">
        {{ 'front_accountingRevenuePage_currentPeriod' | translate }} :
        <strong>{{ accountingPeriod.date | date : 'MMMM YYYY' }}</strong>
      </div>
    </ng-template>

  </div>
  <footer class="card-footer">
    <div class="card-footer-right">
      <button class="button" [ngClass]="closeButtonState" (click)="close()" [disabled]="!canCloseCurrentPeriod">
        {{ 'front_accountingRevenuePage_closeCurrentPeriod_button_label' | translate }}
      </button>
    </div>
  </footer>
</div>
