<ng-container [ngSwitch]="type">

  <ng-container *ngSwitchCase="listEntryType.LinkedToThisContract">
    <button *ngIf="canDelete"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_delete_button_label' | translate"
            (click)="openAttachmentDeletion()">
      <span aria-hidden="true" class="lucca-icon icon-trash"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_delete_button_label' | translate }}</span>
    </button>

    <button *ngIf="canEditFutureStart"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_startEdition_button_label' | translate"
            (click)="openAttachmentFutureActivationEdition()">
      <span aria-hidden="true" class="lucca-icon icon-edit"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_startEdition_button_label' | translate }}</span>
    </button>

    <button *ngIf="canEditEnd"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_endEdition_button_label' | translate"
            (click)="openAttachmentFutureDeactivationEdition()">
      <span aria-hidden="true" class="lucca-icon icon-edit"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_endEdition_button_label' | translate }}</span>
    </button>

    <button *ngIf="canCancelUnlinking"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_cancel_button_label' | translate"
            (click)="openAttachmentUnlinkingCancellation()">
      <span aria-hidden="true" class="lucca-icon icon-cross"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_cancel_button_label' | translate }}</span>
    </button>

    <button *ngIf="canUnlink"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_unlink_button_label' | translate"
            (click)="openAttachmentUnlinking()">
      <span aria-hidden="true" class="lucca-icon icon-unlink"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_unlink_button_label' | translate }}</span>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="listEntryType.LinkedToAnotherContract">
    <button *ngIf="canLink"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_link_button_label' | translate"
            (click)="openAttachmentLinking()">
      <span aria-hidden="true" class="lucca-icon icon-attach"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_link_button_label' | translate }}</span>
    </button>
    <button type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_redirect_button_label' | translate"
            (click)="redirectToContract()">
      <span aria-hidden="true" class="lucca-icon icon-contract"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_redirect_button_label' | translate }}</span>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="listEntryType.Excluded">
    <button *ngIf="canLink"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_link_button_label' | translate"
            (click)="openAttachmentLinking()">
      <span aria-hidden="true" class="lucca-icon icon-attach"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_link_button_label' | translate }}</span>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="listEntryType.Error">
    <button *ngIf="canLink"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_link_button_label' | translate"
            (click)="openAttachmentLinking()">
      <span aria-hidden="true" class="lucca-icon icon-attach"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_link_button_label' | translate }}</span>
    </button>
    <button *ngIf="canCancelUnlinking"
            type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_cancel_button_label' | translate"
            (click)="openAttachmentUnlinkingCancellation()">
      <span aria-hidden="true" class="lucca-icon icon-cross"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_cancel_button_label' | translate }}</span>
    </button>
    <button *ngIf="canExclude" type="button" class="actionIcon"
            [luTooltip]="'front_contractPage_establishments_exclude_button_label' | translate"
            (click)="openAttachmentExclusion()">
      <span aria-hidden="true" class="lucca-icon icon-brokenHeart"></span>
      <span class="u-mask">{{ 'front_contractPage_establishments_exclude_button_label' | translate }}</span>
    </button>
  </ng-container>

</ng-container>
