<form [formGroup]="formGroup" class="u-marginTopSmall">

  <div [formArrayName]="formArrayKey">

    <div *ngFor="let formControl of formArray.controls; let i = index; trackBy: trackBy"
         class="u-displayFlex u-flexWrapWrap u-alignItemsCenter u-flexGrow0 u-flexShrink1 u-marginTopSmallest">

      <ng-container [ngSwitch]="i">
        <div *ngSwitchCase="0" class="textfield mod-inline mod-shorter"></div>
        <div *ngSwitchCase="1">
          <cc-logical-operator-select textfieldClass="palette-grey mod-outlined mod-inline mod-shorter"
                                      [formControl]="logicalOperator"
                                      [required]="true">
          </cc-logical-operator-select>
        </div>
        <div *ngSwitchDefault class="textfield mod-inline mod-shorter u-paddingLeftSmaller">
          {{ logicalOperator.value?.name | translate }}
        </div>
      </ng-container>

      <cc-advanced-criterion-form [formControl]="formControl"
                                  [configurations]="configuration.criterions"
                                  [formlyFieldConfigs]="configuration?.criterionFormlyFieldConfigs"
                                  [required]="true">
      </cc-advanced-criterion-form>

      <div class="u-marginLeftAuto">
        <button type="button" class="actionIcon"
                [luTooltip]="'cafe_filters_add_one_button_label' | translate"
                (click)="insertAt(i)">
          <span aria-hidden="true" class="lucca-icon icon-plus"></span>
          <span class="u-mask">{{ 'cafe_filters_add_one_button_label' | translate }}</span>
        </button>
        <button type="button" class="actionIcon"
                [luTooltip]="'cafe_filters_delete_one_button_label' | translate"
                (click)="removeAt(i)">
          <span aria-hidden="true" class="lucca-icon icon-cross"></span>
          <span class="u-mask">{{ 'cafe_filters_delete_one_button_label' | translate }}</span>
        </button>
      </div>
    </div>

  </div>
</form>
