<div class="page mod-fullWidth mod-withFullwidthTable">
  <header class="page-header blockWithFixedSizeInFlex">
    <h1>{{ 'front_accountingRevenuePage_title' | translate }}</h1>
  </header>

  <section>
    <cc-accounting-period-card [accountingPeriod]="currentPeriod$ | async"
                               [isLoading]="isCurrentPeriodLoading$ | async"
                               [closeButtonState]="closePeriodButtonState$ | async"
                               (closeCurrentPeriod)="closeCurrentPeriod($event)">
    </cc-accounting-period-card>

    <cc-accounting-sync-revenue-card [syncRevenueInfo]="syncRevenueInfo$ | async"
                                     [isLoading]="isSyncRevenueLoading$ | async">
    </cc-accounting-sync-revenue-card>
  </section>

</div>
