<div class="page mod-fullWidth mod-withFullwidthTable">
  <header class="page-header blockWithFixedSizeInFlex">
    <h1>{{ 'front_accountingRevenuePage_title' | translate }}</h1>
  </header>

  <section class="grid u-marginSmall">
		
    <cc-accounting-period-card *ngFor="let currentPeriod of currentPeriod$ | async" class="mod-accountingRevenueCard grid-l6"
                               [accountingPeriod]="currentPeriod"
                               [isLoading]="isCurrentPeriodLoading$ | async"
                               [closeButtonState]="closePeriodButtonState$ | async"
                               (closeCurrentPeriod)="closeCurrentPeriod($event, currentPeriod.entity)">
    </cc-accounting-period-card>

    <cc-accounting-sync-revenue-card *ngFor="let syncRevenueInfo of syncRevenueInfo$ | async" class="mod-accountingRevenueCard grid-l6"
                                     [syncRevenueInfo]="syncRevenueInfo"
                                     [isLoading]="isSyncRevenueLoading$ | async"
                                     [syncButtonState]="syncButtonState$ | async"
                                     (syncRevenue)="syncRevenue(syncRevenueInfo.entity)">
    </cc-accounting-sync-revenue-card>
  </section>

</div>
