<div class="page mod-fullWidth mod-withFullwidthTable">
  <header class="page-header blockWithFixedSizeInFlex">
    <h1>{{ 'front_accountingRevenuePage_title' | translate }}</h1>
  </header>

  <section *ngFor="let currentPeriod of currentPeriod$ | async" class="grid u-marginSmall">
		<h2 class="grid-l12"> {{ getBillingEntityName(currentPeriod.entity) }} </h2>
    <cc-accounting-period-card class="mod-accountingRevenueCard grid-l6"
                               [accountingPeriod]="currentPeriod"
                               [isLoading]="isCurrentPeriodLoading$ | async"
                               [closeButtonState]="closePeriodButtonState$ | async"
                               (closeCurrentPeriod)="closeCurrentPeriod($event, currentPeriod.entity)">
    </cc-accounting-period-card>

    <cc-accounting-sync-revenue-card  class="mod-accountingRevenueCard grid-l6"
                                     [syncRevenueInfo]="getSyncRevenueInfo$(currentPeriod.entity) | async"
                                     [isLoading]="isSyncRevenueLoading$ | async"
                                     [syncButtonState]="syncButtonState$ | async"
                                     (syncRevenue)="syncRevenue(currentPeriod.entity)">
    </cc-accounting-sync-revenue-card>
  </section>

</div>
