<div class="errorPage">
    <section class="errorPage-section">
        <div class="errorPage-section-info">
            <h1 class="errorPage-section-info-title">{{'front_errorPages_notFound_title' | translate}}</h1>
            <p class="errorPage-section-info-text">{{'front_errorPages_notFound_text' | translate}}</p>
            <a (click)="goBack()" class="errorPage-section-info-link">{{'front_errorPages_notFound_link' | translate}}</a>
        </div>
        <img src="https://cdn.lucca.fr/errors/svg/404-lucca.svg" alt="Error 404" class="errorPage-section-image">
    </section>
</div>
