<div class="loading mod-fullPage" *ngIf="isLoading$ | async; else notLoading"></div>

<ng-template #notLoading>
  <div class="page-content">
    <cc-contract-tab-form [formControl]="contractForm" [validationContext]="validationContext$ | async"
                          [formInformation]="formInformation$ | async">
    </cc-contract-tab-form>
  </div>

  <footer class="page-footer">
    <div class="page-footer-right">
      <button *ngIf="canEditContract$ | async"
              (click)="edit()"
              class="button"
              [disabled]="contractForm.invalid || !contractForm.dirty"
              [ngClass]="editButtonState$ | async">
        {{ 'front_contractPage_editButton_label' | translate }}
      </button>

      <button class="button mod-link" (click)="close()">
        {{ 'front_contractPage_modal_cancel_button_label' | translate }}
      </button>
    </div>
  </footer>
</ng-template>

