<ng-container *ngIf="!showConfirmation; else displayConfirmation">
  <cc-contract-closure-form-information *ngIf="!!formValidationContext"
                                        [lastAttachmentEnded]="lastAttachmentEnded"
                                        [formValidationContext]="formValidationContext">
  </cc-contract-closure-form-information>

  <form [formGroup]="formGroup" (ngSubmit)="setShowConfirmation(true)">
    <label class="textfield is-required mod-longest palette-grey">
      <lu-date-select class="textfield-input" granularity="month"
                      [formControlName]="formGroupKey.CloseOn"
                      [required]="true" [min]="getFirstDay(maxContractClosedDate)"></lu-date-select>
      <span class="textfield-label">{{ 'front_contractPage_endContractDateSelect_label' | translate }}</span>
    </label>

    <cc-close-contract-reason-select [formControlName]="formGroupKey.CloseReason" [required]="true"
                                     textfieldClass="mod-longest palette-grey">
    </cc-close-contract-reason-select>

    <button class="button u-marginTopStandard" type="submit" [disabled]="formGroup.invalid">
      {{ 'front_contractPage_endContractButton_label' | translate }}
    </button>
  </form>
</ng-container>

<ng-template #displayConfirmation>
  <div class="callout palette-warning u-animatedSlideInTop">
    <div class="u-displayFlex u-flexDirectionColumn">
      {{ 'front_contractPage_closeContract_confirmation' | translate }}
      <div class="u-marginLeftAuto">
        <button class="button mod-link" (click)="setShowConfirmation(false)">
          {{ 'front_contractPage_closeContract_confirmation_cancelButton' | translate }}
        </button>
        <button class="button palette-secondary" (click)="onCloseContract()"
                [ngClass]="closeButtonState">
          {{ 'front_contractPage_closeContract_confirmation_confirmButton' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
