<div class="loading mod-dialog" *ngIf="isLoading$ | async; else notLoading"></div>

<ng-template #notLoading>
  <nav class="menu u-nowrap" #navScrollWrapper *ngIf="(isNotFound$ | async) === false">
    <button type="button" class="button mod-scrollIcon mod-outline mod-white u-paddingSmaller" (click)="scrollLeft(navScrollWrapper)">
      <span aria-hidden="true" class="lucca-icon icon-arrowWest"></span>
    </button>

    <ng-container *ngFor="let tab of tabs">
      <a [routerLink]="getRelativeRouteUrl(tab.url)" [routerLinkActive]="'is-active'" queryParamsHandling="preserve" class="menu-link">
        {{ tab.name | translate }}
      </a>
    </ng-container>

    <button type="button" class="button mod-scrollIcon mod-outline mod-white u-paddingSmaller" (click)="scrollRight(navScrollWrapper)">
      <span aria-hidden="true" class="lucca-icon icon-arrowEast"></span>
    </button>
  </nav>


  <div class="contracts-sidepanel-content">
    <ng-template [ngTemplateOutlet]="parentRouterOutletRef"></ng-template>
  </div>
</ng-template>



