<div class="page mod-fullWidth mod-withFullwidthTable mod-horizontal">
  <header class="pageHeader" [ngClass]="{ 'mod-withMenu': !!tabs?.length }">
    <nav class="breadcrumbs" aria-describedby="breadcrumbs-title">
      <p id="breadcrumbs-title" class="u-mask">Breadcrumbs</p>
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-list-item">
          <button (click)="redirectToOffers()" class="breadcrumbs-list-item-action mod-link">
            {{ 'offers_page_title' | translate }}
          </button>
        </li>
        <li class="breadcrumbs-list-item">
          <span aria-current="page" class="breadcrumbs-list-item-action">{{ title }}</span>
        </li>
      </ul>
    </nav>

    <div class="pageHeader-content">
      <div class="header-contentLeft">
        <div class="header-nav">
          <a (click)="redirectToOffers()" class="header-nav-back"></a>
          <h1 class="header-nav-title">{{ title }}</h1>
        </div>
      </div>
    </div>

    <nav class="menu u-flexWrapWrap" *ngIf="!!tabs?.length">
      <ng-container *ngFor="let tab of tabs">
        <a [routerLink]="['./', tab.url]"
           [routerLinkActive]="'is-active'"
           queryParamsHandling="preserve" class="menu-link">
          {{ tab.name | translate }}
        </a>
      </ng-container>
    </nav>
  </header>

  <ng-content></ng-content>
</div>
