<form [formGroup]="formGroup" (blur)="onTouch()">
  <div class="u-displayFlex u-flexShrink0 u-flexGrow1">
    <cc-category-filter [categories]="categories" [formControlName]="formKey.Category"></cc-category-filter>

    <button class="button palette-grey mod-outlined mod-counter u-marginLeftAuto"
            *ngIf="hasSelectedConfiguration$ | async"
            (click)="toggleAdvancedFiltersDisplay()">
      {{ 'cafe_filters_button_label' | translate }}
      <span class="button-counter">{{ filtersCount }}</span>
    </button>
  </div>

  <div [ngClass]="{ 'mod-hidden': !showAdvancedFilters }">
    <cc-advanced-filter-form *ngIf="hasSelectedConfiguration$ | async"
                             class="u-marginTopSmaller"
                             [formControlName]="formKey.AdvancedFilterForm"
                             [configuration]="selectedConfiguration$ | async">
    </cc-advanced-filter-form>

    <div class="u-displayFlex u-justifyContentSpaceBetween u-paddingSmaller">
      <button class="button mod-link mod-icon" (click)="openExternalDocumentation()">
        <span aria-hidden="true" class="button-icon lucca-icon icon-help"></span>
        {{ 'cafe_external_documentation_button' | translate }}
      </button>
      <div class="u-marginLeftAuto">
        <button class="button palette-grey mod-outline" (click)="reset()">
          {{ 'cafe_filters_delete_all_button_label' | translate }}
        </button>
        
        <button class="button palette-grey" (click)="submit()" [disabled]="!valid">
          {{ 'cafe_filters_submit_button_label' | translate }}
        </button>

        <button class="button mod-link" (click)="toggleAdvancedFiltersDisplay()">
          {{ 'cafe_filters_cancel_button_label' | translate }}
        </button>
      </div>
    </div>
  </div>

</form>



