@import "theming.import";

.textfield {
  display: contents;

  .textfield-input {
    text-align: right;
    border-radius: 0;
  }
}

.mod-tableCell.textfield .textfield-input {
  box-shadow: inset 0 0 0 1px transparent;
}

.mod-error.textfield .textfield-input {
  background-color: _color('error', 100);
  box-shadow: inset 0 0 0 1px _color('error', 600);
}

.mod-readonly.textfield .textfield-input {
  pointer-events: none;
  background-color: white;
  color: _color('grey', 800);

  /* Firefox - hidden input number arrow */
  &[type=number] {
    -moz-appearance: textfield;
  }
}
