<label class="textfield palette-grey mod-outlined mod-editableCell"
       [ngClass]="{ 'mod-readonly': formControl.disabled }">
  <input class="textfield-input"
         type="number"
         [min]="0"
         [required]="true"
         [formControl]="formControl"
         (keydown.control.arrowLeft)="keydownLeft()"
         (keydown.control.arrowRight)="keydownRight()"
         (keydown.control.arrowDown)="keydownDown()"
         (keydown.control.arrowUp)="keydownUp()"
         (paste)="paste($event)"/>
</label>
