<label class="textfield palette-grey">
  <lu-select [(ngModel)]="domainIdsSelected"
             (ngModelChange)="safeOnChange($event)"
             class="textfield-input"
             [placeholder]="'front_filterLabel_domainName' | translate"
             multiple>
    <ng-container *luDisplayer="let domains; multiple: true">
      <span class="label">{{domains.length}}</span>
      {{ 'front_filterSelection_domainName' | translate: { count: domains.length } }}
    </ng-container>
    <lu-option-picker-advanced>
      <lu-option-feeder [options]="environmentDomains"></lu-option-feeder>
      <header class="lu-picker-header">
        <lu-option-searcher [searchFn]="searchFn"></lu-option-searcher>
      </header>
      <lu-option-pager></lu-option-pager>
      <lu-option *luForOptions="let domain; trackBy: trackBy" [value]="domain.id">{{domain.name}}</lu-option>
    </lu-option-picker-advanced>
    <lu-input-clearer></lu-input-clearer>
  </lu-select>
</label>
