<table class="table">
  <thead class="table-head">
  <tr class="table-head-row">
    <th class="table-head-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Environment) }">
      {{ 'cafe_environments_list_environment' | translate }}
    </th>
    <th class="table-head-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.AppInstances) }">
      {{ 'cafe_environments_list_applications' | translate }}
    </th>
    <th class="table-head-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.DistributorType) }">
      {{ 'cafe_environments_list_distributorType' | translate }}
    </th>
    <th class="table-head-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Distributors) }">
      {{ 'cafe_environments_list_distributors' | translate }}
    </th>
    <th class="table-head-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Countries) }">
      {{ 'cafe_environments_list_countries' | translate }}
    </th>
    <th class="table-head-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Cluster) }">
      {{ 'cafe_environments_list_cluster' | translate }}
    </th>
    <th class="table-head-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.CreatedAt) }">
      {{ 'cafe_environments_list_createdAt' | translate }}
    </th>
    <th class="table-head-row-cell" *ngFor="let facet of facets">
      {{ getFacetName(facet) }}
    </th>
  </tr>
  </thead>
  <tbody class="table-body">
  <tr class="table-body-row" *ngFor="let environment of environments; trackBy: trackBy">
    <td class="table-body-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Environment) }">
      {{ getEnvironmentName(environment.subdomain, environment.domain) }}
    </td>
    <td class="table-body-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.AppInstances) }">
      {{ getAppInstanceNames(environment?.appInstances) }}
    </td>
    <td class="table-body-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.DistributorType) }">
      {{ getDistributorTypeTranslation(environment) }}
    </td>
    <td class="table-body-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Distributors) }">
      {{ getDistributorNames(environment) }}
    </td>
    <td class="table-body-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Countries) }">
      {{ getCountryNames(environment.legalUnits) }}
    </td>
    <td class="table-body-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.Cluster) }">
      {{ environment.cluster }}
    </td>
    <td class="table-body-row-cell" [ngClass]="{ 'mod-hidden': isHidden(additionalColumn.CreatedAt) }">
      {{ environment.createdAt | date : 'shortDate' }}
    </td>
    <td class="table-body-row-cell" *ngFor="let facet of facets">
      {{ getFacetValue(environment.facets, facet) | facets : getFacetOptions(facet) }}
    </td>
  </tr>
  </tbody>
</table>

<section class="emptyState" *ngIf="!environments.length">
  <h3 class="emptyState-title">{{ 'cafe_environments_list_emptyState_title' | translate }}</h3>
  <p class="emptyState-description">{{ 'cafe_environments_list_emptyState_description' | translate }}</p>
</section>
