<form [formGroup]="formGroup" class="u-displayFlex u-flexGrow1 u-flexWrapWrap u-paddingBottomStandard">
  <div class="u-marginRightBigger">
    <label class="textfield mod-longest u-marginTopStandard is-required palette-grey">
      <lu-date-select [formControlName]="formGroupKey.TheoreticalStartOn"
                      [luTooltip]="'contracts_form_disabled_info_counts_establishments' | translate"
                      luTooltipPosition="after"
                      [luTooltipDisabled]="canEditTheoreticalStartOn"
                      [required]="true"
                      granularity="month"
                      class="textfield-input">
      </lu-date-select>
      <span class="textfield-label">{{ 'front_theoreticalStartAt_label' | translate }}</span>
      <span class="textfield-messages" *ngIf="formGroup.controls.theoreticalStartOn.touched && formGroup.controls.theoreticalStartOn.hasError('required')">
      <span class="textfield-messages-error">
        {{ "front_theoreticalStartAt_errorMessage_required" | translate }}
      </span>
    </span>
    </label>

    <cc-distributor-api-select [formControlName]="formGroupKey.Distributor"
                               [displayMode]="selectDisplayMode.Form"
                               [luTooltip]="'contracts_form_disabled_info_counts_establishments_accountingEntries' | translate"
                               luTooltipPosition="after"
                               [luTooltipDisabled]="canEditDistributor"
                               [required]="true"
                               textfieldClass="mod-longest palette-grey u-marginTopStandard palette-grey">
    </cc-distributor-api-select>
    <div class="textfield-messages">
      <span class="textfield-messages-helper u-textSmaller u-right" *ngIf="!!formInformation?.distributorRebate">
        {{ "contracts_distributorRebate_info" | translate }} {{ formInformation?.distributorRebate }}%
      </span>
    </div>

    <cc-client-api-select [formControlName]="formGroupKey.Client"
                          [displayMode]="selectDisplayMode.Form"
                          [luTooltip]="'contracts_form_disabled_info_counts_establishments_accountingEntries' | translate"
                          luTooltipPosition="after"
                          [luTooltipDisabled]="canEditClient"
                          [required]="true"
                          textfieldClass="mod-longest u-marginTopStandard palette-grey">
    </cc-client-api-select>
    <div class="textfield-messages">
      <a *ngIf="!!formInformation?.client" class="textfield-messages-helper u-textSmaller u-right"
         (click)="openClientInformationModal()">
        {{ 'contracts_client_info' | translate }}
      </a>
    </div>

    <label class="textfield mod-longest u-marginTopStandard palette-grey is-required">
      <cc-product-api-select [formControlName]="formGroupKey.Product"
                            [luTooltip]="'contracts_form_disabled_info_counts_establishments_accountingEntries' | translate"
                            luTooltipPosition="after"
                            [luTooltipDisabled]="canEditProduct"
                            [required]="true">
      </cc-product-api-select>
      <span class="textfield-label">{{ 'select_product_label' | translate }}</span>
      <span class="textfield-messages" *ngIf="hasRequiredError(formGroupKey.Product)">
        <span class="textfield-messages-error">
          {{ "front_select_products_errorMessage_required" | translate }}
        </span>
      </span>
    </label>

    <label class="textfield mod-longest u-marginTopStandard palette-grey is-required">
      <cc-offer-api-select [formControlName]="formGroupKey.Offer"
                        [required]="true"
                        [filters]="offerApiFilters"
                        [luTooltip]="'contracts_form_disabled_info_counts_establishments' | translate"
                        luTooltipPosition="after"
                        [luTooltipDisabled]="canEditOffer">
      </cc-offer-api-select>
      <span class="textfield-label">{{ "offer_select_label" | translate }}</span>
      <span class="textfield-messages u-displayFlex u-alignSelfStretch u-justifyContentSpaceBetween">
        <span class="textfield-messages-error" *ngIf="hasRequiredError(formGroupKey.Offer); else hasNoError">
          {{ "front_select_offers_errorMessage_required" | translate }}
        </span>

        <ng-template #hasNoError>
          <a class="textfield-messages-helper u-textSmaller" (click)="redirectToOfferTab()" *ngIf="canEditWithSimilarOffer">
            {{ 'contracts_contractEdition_similar_offer_redirection' | translate }}
          </a>

          <ng-container *ngIf="canReadOffer">
            <a class="textfield-messages-helper u-textSmaller"
               *ngIf="formGroup.get(formGroupKey.Offer)?.value; let offer" (click)="redirectToOffer(offer?.id)">
              {{ 'contracts_contractEdition_offer_redirection' | translate }}
            </a>
          </ng-container>
        </ng-template>
      </span>
    </label>
  </div>

  <div class="u-marginTopStandard">
    <cc-billing-frequency-select textfieldClass="palette-grey"
                                 [formControlName]="formGroupKey.BillingMonth"
                                 [required]="true"
                                 [luTooltip]="'contracts_form_disabled_info_counts_establishments' | translate"
                                 luTooltipPosition="after"
                                 [luTooltipDisabled]="!formGroup.get(formGroupKey.BillingMonth).disabled"
                                 [frequencyDisabled]="isFrequencyDisabled$ | async">
    </cc-billing-frequency-select>

    <div class="u-displayFlex u-marginTopStandard">
      <cc-theoretical-draft-count textfieldClass="palette-grey"
                                  [formControlName]="formGroupKey.TheoreticalDraftCount"
                                  [required]="true">
      </cc-theoretical-draft-count>

      <cc-theoretical-month-rebate textfieldClass="palette-grey u-marginLeftBig"
                                   [formControlName]="formGroupKey.TheoreticalMonthRebate"
                                   [required]="true">
      </cc-theoretical-month-rebate>
    </div>

    <cc-client-rebate textfieldClass="palette-grey u-marginTopStandard"
                      [formControlName]="formGroupKey.ClientRebate">
    </cc-client-rebate>

    <cc-minimal-billing-percentage textfieldClass="palette-grey u-marginTopStandard"
                                   [formControlName]="formGroupKey.MinimalBillingPercentage"
                                   [luTooltip]="'contracts_form_disabled_info_counts' | translate"
                                   luTooltipPosition="after"
                                   [luTooltipDisabled]="canEditMinimalBilling"
                                   [required]="true"
                                   [min]="0"
                                   [max]="100">
    </cc-minimal-billing-percentage>

    <cc-comment [formControlName]="formGroupKey.Comment" textfieldClass="palette-grey mod-longest u-marginTopStandard"></cc-comment>
  </div>
</form>
