<div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

<ng-template #isNotLoading>
 <div class="page-content u-paddingBottomStandard">
   <cc-contract-without-environment-callout *ngIf="(hasEnvironment$ | async) === false; else hasEnvironment">
   </cc-contract-without-environment-callout>

   <ng-template #hasEnvironment>
     <ng-container *ngIf="entries$ | async; let entries">

       <cc-establishment-type-section [title]="'front_contractPage_establishments_section_info' | translate"
                                      [isExpandedByDefault]="true">
         <div class="u-paddingSmaller" filters>
           <cc-establishment-type-filter [formControl]="typeFilter" [allEntries]="entries"></cc-establishment-type-filter>
         </div>
         <cc-establishment-list content
                                [type]="typeFilter.value"
                                [context]="context$ | async"
                                [entries]="getSortedEntriesByType(entries, typeFilter.value)">
         </cc-establishment-list>
       </cc-establishment-type-section>

       <cc-establishment-type-section class="mod-error"
                                      [title]="'front_contractPage_establishments_section_error' | translate"
                                      [totalCount]="getTotalCount(entries, true)"
                                      [isExpandedByDefault]="true">
         <cc-establishment-list content
                                class="u-displayBlock u-paddingTopSmaller"
                                [type]="listEntryType.Error"
                                [context]="context$ | async"
                                [entries]="getSortedEntriesByType(entries, listEntryType.Error)">
         </cc-establishment-list>
       </cc-establishment-type-section>

     </ng-container>
   </ng-template>

   <div class="u-displayFlex u-alignFlexItemsCenter u-justifyContentSpaceBetween u-marginTopStandard">
     <button class="link" (click)="openEstablishmentsDoc()">
       {{ 'contracts_establishments_doc' | translate  }}
     </button>

     <ng-container *ngIf="hasEnvironment$ | async">
       <button *ngIf="contract$ | async; let contract"
               class="button palette-grey"
               [ngClass]="synchronizeButtonClass$ | async"
               (click)="synchronize(contract.environmentId)">
         {{ 'front_contractPage_establishments_synchronize_button_label' | translate  }}
       </button>
     </ng-container>
   </div>
 </div>
</ng-template>
