<div class="loading mod-fullPage" *ngIf="isLoading$ | async; else isNotLoading"></div>

<ng-template #isNotLoading>
  <div class="page-content">
    <cc-contract-environment-linked *ngIf="(environmentLinked$ | async); else hasNoEnvironmentLinked"
                                    [environment]="environmentLinked$ | async"
                                    [canRemoveEnvironmentLinked]="canRemoveEnvironmentLinked$ | async"
                                    [unlinkButtonState]="unlinkButtonState$ | async"
                                    (unlinkEnvironment)="unlinkEnvironment()">
    </cc-contract-environment-linked>

    <ng-template #hasNoEnvironmentLinked>
      <form class="u-displayFlex u-flexDirectionColumn u-flexWrapWrap" [formGroup]="formGroup" (ngSubmit)="linkEnvironment($event)">
        <cc-environment-link-select [formControlName]="formGroupKey.Environment"
                                    [environmentsSuggested]="environmentsSuggested$ | async">
        </cc-environment-link-select>
        <div *ngIf="arePreviousContractsLoading$ | async"
             class="loading u-textSmall u-textLight u-displayFlex u-alignItemsCenter">
          {{ 'front_contractPage_previousContracts_loading' | translate }}
        </div>

        <cc-environment-creation-cause-select [previousContracts]="previousContracts$ | async"
                                              [formControlName]="formGroupKey.Cause">
        </cc-environment-creation-cause-select>

        <button class="button u-marginTopSmall" type="submit"
                [disabled]="formGroup.invalid"
                [ngClass]="linkButtonState$ | async">
          {{ 'front_contractPage_environmentLink_button_label' | translate }}
        </button>
      </form>
    </ng-template>
  </div>
</ng-template>
