<table class="table mod-clickable">
  <thead class="table-head">
  <tr class="table-head-row">
    <th class="table-head-row-cell" [attr.aria-sort]="getSortOrderClass(sortParamKey.Name)">
      <button class="table-head-row-cell-sortableButton" (click)="sortBy(sortParamKey.Name)">
        {{ 'offers_list_column_name' | translate }}
      </button>
    </th>
    <th class="table-head-row-cell" [attr.aria-sort]="getSortOrderClass(sortParamKey.Product)">
      <button class="table-head-row-cell-sortableButton" (click)="sortBy(sortParamKey.Product)">
        {{ 'offers_list_column_product' | translate }}
      </button>
    </th>
    <th class="table-head-row-cell" [attr.aria-sort]="getSortOrderClass(sortParamKey.BillingMode)">
      <button class="table-head-row-cell-sortableButton" (click)="sortBy(sortParamKey.BillingMode)">
        {{ 'offers_list_column_billingMode' | translate }}
      </button>
    </th>
    <th class="table-head-row-cell" [attr.aria-sort]="getSortOrderClass(sortParamKey.PricingMethod)">
      <button class="table-head-row-cell-sortableButton" (click)="sortBy(sortParamKey.PricingMethod)">
        {{ 'offers_list_column_pricingMethod' | translate }}
      </button>
    </th>
    <th class="table-head-row-cell" [attr.aria-sort]="getSortOrderClass(sortParamKey.ForecastMethod)">
      <button class="table-head-row-cell-sortableButton" (click)="sortBy(sortParamKey.ForecastMethod)">
        {{ 'offers_list_column_forecastMethod' | translate }}
      </button>
    </th>
    <th class="table-head-row-cell">
      {{ 'offers_list_column_currency' | translate }}
    </th>
    <th class="table-head-row-cell mod-alignRight">
      {{ 'offers_list_column_activeContracts' | translate }}
    </th>
    <th class="table-head-row-cell mod-actions"></th>
  </tr>
  </thead>
  <tbody class="table-body">
  <tr *ngFor="let offer of offers" class="table-body-row">
    <td class="table-body-row-cell">{{ offer.name }}</td>
    <td class="table-body-row-cell">{{ offer.product.name }}</td>
    <td class="table-body-row-cell">{{ getBillingMode(offer.billingMode) }}</td>
    <td class="table-body-row-cell">{{ offer.pricingMethod }}</td>
    <td class="table-body-row-cell">{{ offer.forecastMethod }}</td>
    <td class="table-body-row-cell">{{ offer.currency.name }}</td>
    <td class="table-body-row-cell mod-alignRight">
      <button class="link" (click)="redirectToContracts(offer.id)">{{ offer.activeContractNumber }}</button>
    </td>
    <td class="table-body-row-cell mod-actions">
      <button class="actionIcon"
              *ngIf="canBeDeleted(offer)"
              (click)="openDeletionModal(offer)"
              [luTooltip]="'offers_list_actions_delete' | translate">
        <span aria-hidden="true" class="lucca-icon icon-close"></span>
      </button>
      <button class="actionIcon" [luTooltip]="'offers_list_actions_edit' | translate">
        <span aria-hidden="true" class="lucca-icon icon-edit"></span>
      </button>
      <button class="actionIcon" [luTooltip]="'offers_list_actions_priceLists' | translate">
        <span aria-hidden="true" class="lucca-icon icon-table"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<section class="emptyState" *ngIf="!offers?.length">
  <h3 class="emptyState-title">{{ 'front_contractPage_emptyState_title' | translate }}</h3>
  <p class="emptyState-description">{{ 'front_contractPage_emptyState_information' | translate }}</p>
</section>


