:host {
  position: relative;
  overflow: auto;
}

.table .table-head-row-cell {
  position: sticky;
  top: 0;
  background-color: white;
}

.mod-draft {
  opacity: .5;
  font-style: italic;
}

.mod-hidden {
  display: none;
}
