@import "theming.import";

.table .table-head-row-cell {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 30;
}

.mod-draft {
  opacity: .7;
  background-color: _color('secondary', 100);
}

.mod-hidden {
  display: none;
}

.mod-error {
  color: _color('error', 600);
  background-color: _color('error', 50);
}
